*~
.*
.*.sw?
*.pyc
*.pyo
.DS_Store

# Configuration files
fabfile.py
src/settings.py
conf/*.local.*

# Minified files
src/public/lib.js
src/public/core.js
src/public/post.js
src/public/style.css
src/public/post.css
