      <div class="header" title='Toggle Minimize'>
        <a href="#" class="close-icon close" title="Close Chat" data-chat-id='{% if user %}user-{{ user.id }}{% else %}topic-{{ topic.id }}{% endif %}'></a>
        <a id='chatbox-pick-file' class='rfloat' title='Select a file {% if user %}to send to {{ user.name }}{% endif %}'><i class='upload-icon'></i><span>Upload File...</span></a>
        <div id="chatbox-file-container">
          <div id="chatbox-filelist"></div>
        </div>  
        
        {% if user %}
          <i class='{{ user.status }} user-{{ user.id }}-status'></i>
          <a href='/user/{{ user.id }}' class='async name'>{{ user.name }}</a>
        {% else %}
          {% set members = topic.members | exclude(owner.id) %}
          {% for member in members %}
            <a href='/chat/user/{{ member.id }}' class='chat name'>{{ member.name }}</a>{% if loop.index < (topic.members | length - 1) %}, {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      <ul class="messages">
        {% set last_title = None %}
        {% if messages %}
          {% for message in messages %}
            {% if message.date != last_title %}
              <div class='title' title='{{ message.get_date(short=False) }}'>{{ message.date }}</div>
              {% set last_title = message.date %}
            {% endif %}
            
            {% include "message.html" %}
          {% endfor %}
        {% endif %}

        {% if not messages or (messages and messages[-1].date != 'Today') %}
          <div class='title' title='Today'>Today</div>
        {% endif %}
        
      </ul>
      
              
      {% if seen_by %}
        <div class="status">{{ seen_by }}</div>
      {% else %}
        <div class="status hidden"></div>
      {% endif %}

      <form action='/chat/{% if user %}user/{{ user.id }}{% else %}topic/{{ topic.id }}{% endif %}/new_message' method='post'>
        <textarea class='mentions' placeholder='Write a message...' autofocus required></textarea>
        <textarea class='hidden marked-up'
                    name='message'></textarea>
      </form>

<script type="text/javascript">

    {% if user %}
      {% set uploader_id = 'user_%s' % user.id %}
      {% set chat_id = 'user-%s' % user.id %}
    {% else %}
      {% set uploader_id = 'topic_%s' % topic.id %}
      {% set chat_id = 'topic-%s' % topic.id %}
    {% endif %}
      
    $.global.uploader_chat_{{ uploader_id }} = new plupload.Uploader({
          runtimes : 'html5',
          browse_button : 'chatbox-pick-file',
          container : 'chatbox-file-container',
          {% if user %}
          url : '/chat/user/{{ user.id }}/new_file',
          {% else %}
          url : '/chat/topic/{{ topic.id }}/new_file',
          {% endif %}
          multi_selection : false,
          // drop_element: 'intro',
          max_file_size : '10mb',
          headers: {
            'X-CSRFToken': get_cookie('_csrf_token')
          }
    });
        
    $.global.uploader_chat_{{ uploader_id }}.bind('Init', function(up, params) {});
    $.global.uploader_chat_{{ uploader_id }}.init();
    
    
    $.global.uploader_chat_{{ uploader_id }}.bind('FilesAdded', function(up, files) {
      $.global.uploader_chat_{{ uploader_id }}.start();
      update_status('{{ chat_id }}|is uploading file...');
    });
    
    
    $.global.uploader_chat_{{ uploader_id }}.bind('UploadProgress', function(up, file) {
      if(file.percent != 100) {
        $('#chat-{{ chat_id }} div.status').html("Uploading " + file.percent + "%").show();
      } else {
        $('#chat-{{ chat_id }} div.status').html("Verifying...").show();
      }
    });
    
    $.global.uploader_chat_{{ uploader_id }}.bind('Error', function(up, err) {
        show_error();
    });
    
    
    $.global.uploader_chat_{{ uploader_id }}.bind('FileUploaded', function(up, file, response) {
        
        $('#chat-{{ chat_id }} div.status').html('').fadeOut('fast');
        
        
        var last_msg = $('#chat-{{ chat_id }} li.message:last');
        var msg = $(response.response);

        var msg_id = msg.attr('id').split('-')[1];
        var msg_ts = msg.data('ts');
        var sender_id = msg.attr('data-sender-id');
        
        if (msg_ts - last_msg.data('ts') < 120 && last_msg.attr('data-sender-id') == sender_id && last_msg.attr('data-msg-ids').indexOf(msg_id) == -1) {
          var content = $('.content', msg).html();
          $('.content', last_msg).html($('.content', last_msg).html() + '<br>' + content);
          $(last_msg).data('ts', msg_ts);
          $(last_msg).attr('data-msg-ids', $(last_msg).attr('data-msg-ids') + ',' + msg_id);
          
        } else {
          $('#chat-{{ chat_id }} .messages').append(response.response);
        }
        
        
        setTimeout(function() {
          $('#chat-{{ chat_id }} .messages').scrollTop(99999);
        }, 10)
      
    });

  
</script>
