
  <div class="header">
    <div class='rfloat'>
      <a class="close-icon close" title="Close Chat" data-chat-id='{% if user %}user-{{ user.id }}{% else %}topic-{{ topic.id }}{% endif %}'></a>
      
      <a class='options-icon dropdown-menu-icon'></a>
      <ul class="dropdown-menu hidden">
          <div class="arrow-top-border"></div>
          <div class="arrow-top"></div>
        
          
          <li>
            <a id='chatbox-pick-file'>Add files...
            </a>
              <div id="chatbox-file-container">
                <div id="chatbox-filelist"></div>
              </div>
          </li>
          <li>
            <a class='dropbox-chooser'>
              &nbsp;&nbsp;&nbsp;From Dropbox...
            </a>
          </li>
          <li>
            <a class='google-drive-chooser' id='google-drive-chatbox-file-chooser'>
              &nbsp;&nbsp;&nbsp;From Google Drive...
            </a>
          </li>
          <li>
            <a class='add-friends-to-chat'>Add Friends to Chat...</a>
          </li>
          <li class='see-full-conversation'>
            <a href='/messages/{% if user %}user/{{ user.id }}{% else %}topic/{{ topic.id }}{% endif %}' class='async' rel='messages'>See Full Conversation</a>
          </li>
          
          {% if topic %}
          <li>
            {% if owner.id in topic.archived_by %}
            <a href='/messages/topic/{{ topic.id }}/unarchive' class='unarchive'>Unarchive</a>
            {% else %}
            <a href='/messages/topic/{{ topic.id }}/archive' class='archive'>Archive</a>
            {% endif %}
          </li> 
          <li>
            <a href='/messages/topic/{{ topic.id }}/leave' class='leave'>Leave Conversation...</a>
          </li>
          {% endif %}   
          {#
          <li>
            <a>Set Topic...</a>
          </li>  
          <li>
            <a>Mute Conversation</a>
          </li>
          #}  
    </div>
    
    {% if user %}
      <div class='user-info'>
        <a href='/user/{{ user.id }}' class='async'>
          <img class='small-avatar' src='{{ user.avatar }}'>
        </a>
        <a href='/user/{{ user.id }}' class='async name'>{{ user.name }}</a>
        <i class='{{ user.status }} user-{{ user.id }}-status'></i>
        <br>
        <span class='info' title='{{ user.last_online | friendly_format(owner.utcoffset, short=True) }}'><i class='{{ user.status }} user-{{ user.id }}-status'>{{ user.status }}</i></span>
      </div>
    {% else %}
      {% set members = topic.members | exclude(owner.id) %}
      
      <a href='/chat/topic/{{ topic.id }}/members' class='popup'><i class="group-icon"></i></a>
      
      <div contenteditable="true" title='Set Topic...' onclick="document.execCommand('selectAll', false, null)" data-url='/chat/topic/{{ topic.id }}/update' data-topic-id='{{ topic.id }}'>
        {% if topic.name %}
        
          <span title='{% for member in members %}{{ member.name }}{% if loop.index < (topic.member_ids | length - 1) %}, {% endif %}{% endfor %}'>{{ topic.name }}</span>
          
        {% else %}
        
          {% for member in members %}
            {{ member.name }}{% if loop.index < (topic.member_ids | length - 1) %}, {% endif %}
          {% endfor %}
          
        {% endif %}
        

      </div>
      <a class='info popup' href='/chat/topic/{{ topic.id }}/members'>{{ topic.member_ids | length }} people</a>
    {% endif %}
  </div>

  <ul class="messages">
   {% include "messages.html" %}
  </ul>
  
          
  {% if seen_by %}
    <div class="status">{{ seen_by }}</div>
  {% else %}
    <div class="status hidden"></div>
  {% endif %}

  <form class='chat' action='/chat/{% if user %}user/{{ user.id }}{% else %}topic/{{ topic.id }}{% endif %}/new_message' method='post'>
    <input type='hidden' name='codeblock'>
    <textarea class='mentions' placeholder='Write a message...' autofocus required></textarea>
    <textarea class='hidden marked-up' name='message'></textarea>
  </form>


