

<li class="comment {% if hidden %}hidden{% endif %}" id="comment-{{ comment.id }}">
    <a href="/user/{{ comment.owner.id }}" class='async' data-user-id='{{ comment.owner.id }}'>
      <img src="{{ comment.owner.avatar }}" class="small-avatar lfloat">
    </a>
    
    
    
    
    {% if comment.owner.id == owner.id %}
    <div class='update-comment hidden'>
      <a class="remove-comment" href="/feed/{{ item.id }}/{{ comment.id }}/remove_comment" title='Remove this comment'><i class='close-icon'></i></a>
      <form action='/feed/{{ item.id }}/{{ comment.id }}/update_comment' method='post' class='update-comment' data-comment-id='comment-{{ comment.id }}'>
        
        
            <textarea class="mention"></textarea>
            
            <span class='raw-message hidden'>{{ comment.message | safe }}</span>
            <textarea name="message" class="marked-up hidden"></textarea>
      </form>
      
      
      <span class='gray'>Press Esc to cancel.</span>
    </div>
    
    {% endif %}
    
    {% if comment.owner.id == owner.id %}       
        <a class="update-comment" title='Edit this comment' data-comment-id='comment-{{ comment.id }}'><i class='edit-icon'></i></a>
    {% elif item.owner.id == owner.id %}
        <a class="remove-comment" href="/feed/{{ item.id }}/{{ comment.id }}/remove_comment" title='Delete'><i class='close-icon'></i></a>
{#    {% else %}
        <a class="remove-comment" href="/feed/{{ item.id }}/{{ comment.id }}/mark_as_spam" title='Hide as Spam'><i class='close-icon'></i></a>
#}
    {% endif %}
    
    <div class="message expandable">
        <a href="/user/{{ comment.owner.id }}" class='async'><strong>{{ comment.owner.name }}</strong></a>&nbsp;  
        {% autoescape on %}
          {% if comment.is_email() %} 
            
            {% set content = comment.message | sanitize | remove_signature | remove_empty_lines %}
            {% set summary = content | lines_truncate | fix_unclosed_tags %}
            
            
            <div>{{ summary | nl2br }}</div>
            
            {% if content|length > (summary|length + 3) %}
            <a class='see-more'>See more</a>
            <div class='hidden'>
              {{ content | nl2br }}
            </div>
            {% endif %}
          {% elif "</iframe>" in comment.message %}
            <div class='embed-code'>
              {{ comment.message | sanitize | fix_unclosed_tags }}
            </div>
          {% else%}
          
            {% if '\n' in comment.message %}
            
              
              {% set content = comment.message | autolink | autoemoticon %}
              {% set summary = content | lines_truncate %}
              
              
              <span class='text'>{{ summary | nl2br }}</span>
              {% if content|length > (summary|length + 3) %}
              <a class='see-more'>See more</a>
              <span class='hidden text'>
                {{ content | nl2br }}
              </span>
              {% endif %}
            {% else %}
              <span class='text'>
              {{ comment.message | autolink | autoemoticon | sanitize }}
              </span>
            {% endif %}
          
          
            {% if comment.is_edited() %}
              {% if '\n' in comment.original_message %}
                <span class='text hidden'>
                {{ comment.changes | nl2br }}
                </span>
              {% else %}
                <span class='text hidden'>
                {{ comment.changes }}
                </span>
              {% endif %}
            {% endif %}
          
          
            
          {% endif %}
        {% endautoescape %}
        
        
        
      {% if comment.attachments %}
        <br>
        {% if comment.attachments | length == 1 and 'image' in comment.attachments[0].mimetype %}
          <div class="file-attachment image">
            {% set attachment = comment.attachments[0] %}
            <a href='{% if attachment.is_dropbox_file() or attachment.is_google_drive_file() %}{{ attachment.serving_url }}{% else %}/attachment/{{ attachment.id }}.png?rel={{ item.id }}{% endif %}' target='_blank' rel='gallery' class="lfloat">
              <img src='{% if attachment.is_dropbox_file() or attachment.is_google_drive_file() %}{{ attachment.serving_url }}{% else %}/attachment/{{ attachment.id }}.png?rel={{ item.id }}{% endif %}' alt='{{ attachment.name }} ({{ attachment.size }})'  title='{{ attachment.name }} ({{ attachment.size }})'>
            </a>
            <div class='lfloat'>
              <a href='{% if attachment.is_dropbox_file() or attachment.is_google_drive_file() %}{{ attachment.serving_url }}{% else %}/attachment/{{ attachment.id }}?rel={% if item %}{{ item.id }}{% else %}{{ comment.post_id }}{% endif %}{% endif %}' target='_blank' title='{{ attachment.name }}'>{{ attachment.name | truncate(30, True) }}</a>
              {% if not attachment.is_google_drive_file() %}<span class='gray'>({{ attachment.size }})</span>{% endif %}
            </div>
          </div>
              
        {% else %}
          <div class='attachments'>
          {% for file in comment.attachments %}
            {% if file.id or file.is_dropbox_file() %}
              <div>
                <i class='attach-icon lfloat'></i>
                <a href='{% if file.is_dropbox_file() or file.is_google_drive_file() %}{{ file.serving_url }}{% else %}/attachment/{{ file.id }}?rel={% if item %}{{ item.id }}{% else %}{{ comment.post_id }}{% endif %}{% endif %}' target='_blank' title='{{ file.name }}'>{{ file.name | truncate(30, True) }}</a>
                {% if not file.is_google_drive_file() %}<span class='gray'>({{ file.size }})</span>{% endif %}
              </div>
            {% endif %}
          {% endfor %}
          </div>
        {% endif %}
      {% endif %}
        
        
        
        
        {% if comment.urls | length == 1 %}
        {% set url = comment.urls[0] %}
        
        {% if url.is_image() %}
          <div class="file-attachment">
                <a href='{{ url.url }}' rel="gallery"><img src='{{ url.url }}' width="200" title='{{ url.basename }}'/></a>
          </div>
        {% elif (('www.youtube.com/' in comment.message and '?v=' in comment.message) or 'youtu.be/' in comment.message) and '</iframe>' not in comment.message %}
          <div class='embed-code'>
            {% autoescape on %}
              {{ url.url | to_embed_code }}
            {% endautoescape %}
          </div>
{#          
        {% elif url.description %}
          <div class="url-attachment {% if not url.img_src %}favicon{% else %}image{% endif %}">
                <div class='{% if url.img_src %}crop{% endif %}'>
                  <a href='http://{{ url.domain }}' target="_blank">
                  {% if url.img_src %}
                    <img src='{{ url.img_src }}' class='lfloat' width="75" title='{{ url.title }}'> 
                  {% else %}
                    <img src='{{ url.favicon }}' class='lfloat favicon' width=16 title='{{ url.title }}'> 
                  {% endif %}
                  </a>
                </div>
                <div class="title">
                  <a href='{{ url.url }}' target='_blank' title='{{ url.title }}'>{% autoescape on %}{{ url.title }}{% endautoescape %}</a>
                  (<a href='http://{{ url.domain }}' target='_blank' class='gray'>{{ url.domain }}</a>)
                </div>
                
                <div class="info">                  
                  {% if url.description %}
                    {{ url.description  | truncate(175) }}
                  {% endif %}
                </div>
                

          </div>
#}          
        {% endif %}
      {% endif %}
        
    </div>
    

      
      
    <div class="footer">
      {% if comment.is_email() %}
        <a href='#!/feed/{{ item.id }}/{{ comment.message_id }}' class='overlay gray'><time class='timeago' title='{{ comment.timestamp | friendly_format(owner.utcoffset) }}' datetime='{{ comment.timestamp | isoformat(owner.utcoffset) }}'>{{ comment.timestamp | friendly_format(owner.utcoffset, short=True) }}</time></a>
      {% else %}
        <a href='/feed/{{ item.id }}#comment-{{ comment.id }}' target="_blank" class='time'><time class='timeago' title='{{ comment.timestamp | friendly_format(owner.utcoffset) }}' datetime='{{ comment.timestamp | isoformat(owner.utcoffset) }}'>{{ comment.timestamp | friendly_format(owner.utcoffset, short=True) }}</time></a>
      {% endif %}
      
      
      {% if comment.is_edited() %}
        · <a class='see-changes' title='Last edited: {{ comment.last_edited_timestamp | strftime(owner.utcoffset, "%I:%M%p - %b %d, %Y") }} (click to see changes)'><i class='edited-icon'></i></a>
      {% endif %}
      
      {% if comment.reply_src %}
        · <a href='#comment-{{ comment.reply_to }}' class='reply-to' title='In reply to {{ comment.reply_src.owner.name }}: "{{ comment.reply_src.message | clean | truncate(60) }}"'><i class='reply-icon'></i></a>
      {% endif %}
      
       
    {% if owner.id %}   
      {% if owner.id not in comment.liked_user_ids %}
        · <a class='toggle' href='/like/{{ comment.id }}?post_id={{ item.id }}' data-name='Unlike' data-href='/unlike/{{ comment.id }}?post_id={{ item.id }}'>Like</a>
      {% else %}
        · <a class='toggle' href='/unlike/{{ comment.id }}?post_id={{ item.id }}' data-name='Like' data-href='/like/{{ comment.id }}?post_id={{ item.id }}'>Unlike</a>
      {% endif %}
        
      · <a class='reply' data-comment-id="{{ comment.id }}" data-owner-id="{{ comment.owner.id }}" data-owner-name="{{ comment.owner.name }}" title='Reply to this comment'>Reply</a>
    {% endif %}
      
      
      
       {% set likes_count = comment.liked_by | length %}
       <span class='likes {% if not comment.liked_by %}hidden{% endif %}' title='{% if likes_count != 0 %}{% for i in comment.liked_by %}{% if i.id == owner.id %}{% if loop.index == 1 %}You{% else %}you{% endif %}{% else %}{{ i.name }}{% endif %}{% if loop.index < (likes_count - 1) %}, {% elif loop.index == (likes_count - 1) %} and {% endif %}{% endfor %} like{% if likes_count == 1 %}s{% endif %} this.{% endif %}'>
        · <i class='like-small-icon'></i> <span class='counter' id='counter-{{ comment.id }}'>{{ likes_count }}</span>
       </span>
       
    </div>
</li>