<ul class="comments {% if (item.liked_user_ids | length == 0 and item.comments_count == 0 and mode != 'view') or hide_comments %}hidden{% endif %}" id="comments-{{ item.id }}">
       
    <div id="comments-list-{{ item.id }}" class="comments-list">
      
      
      {% set likes = item.liked_by %}
      {% include "likes.html" %}

      
      {% if mode == 'view' %}
        {% set comments_preview_count = 5 %}
      {% else %}
        {% set comments_preview_count = 2 %}
      {% endif %}
    
      {% if item.comments_count > comments_preview_count %}

        <li class="action">
            <span class="comment-icon"></span>
            <a class="view-previous-comments" {% if item.comments_count > (comments_preview_count + 5) %}href='/feed/{{ item.id }}/comments?last={{ item.comments[-comments_preview_count-5].id }}'{% endif %}>
              {% if item.comments_count > (5 + comments_preview_count) %}
              <span class='rfloat'>
                Showing <span class='displayed-count'>{{ comments_preview_count }}</span> of <span class='comment-count'>{{ item.comments_count }}</span> comments
              </span>
              <text>
                View previous comments
                {% else %}
                View {{ item.comments_count - comments_preview_count }} more comments
                {% endif %}
              </text>
            </a>
        </li>


        
        {% for comment in item.comments[-comments_preview_count-5:-comments_preview_count] %}
          {% set hidden = True %}
          {% include 'comment.html' %}
        {% endfor %}


        {% for comment in item.comments[-comments_preview_count:] %}
          {% include 'comment.html' %}
        {% endfor %}
        
      {% elif item.comments_count > 0 %}
        {% for comment in item.comments %}
          {% include 'comment.html' %}
        {% endfor %}
        
      {% endif %}
    
    </div>
    
      
    {% if owner.id %}
    
    
      {% if not mode and not mobile %}
        <li class='write-a-comment'>
          <img src='{{ owner.avatar }}' class='small-avatar lfloat'>
          {% if owner.id %}
            <a class="reply" rel="#{{ item.id }}-comments">Write a comment</a>
          {% else %}
            <a href='/?back_to=/feed/{{ item.id }}#comments' class="sign-in-to-write-a-comment">Write a comment</a>
          {% endif %}
        </li>
      {% endif %}
      {% if mobile %}
        <li class='write-a-comment'>
          <form id='new-comment-{{ item.id }}' class="new-comment" action="/feed/{{ item.id }}/comment" method="POST">
          </form>
        </li>
      {% endif %}
      
      {% if not mobile %}
      <li class="new-comment {% if not mode %}hidden{% endif %}">
          <form id='new-comment-{{ item.id }}' class="new-comment" action="/feed/{{ item.id }}/comment" method="POST">
            <a href="/user/{{ owner.id }}" class='async lfloat' data-user-id='{{ owner.id }}'>
              <img src="{{ owner.avatar }}" class="small-avatar">
            </a>
      
            <textarea class="mention" placeholder='Write a comment'></textarea>
            <textarea name="message" class="marked-up hidden"></textarea>
            <input name='reply_to' type='hidden'>
            
            <footer>
              {% set id = item.id | unique_by_timestamp %}
              <div class='lfloat'>
                <a id='pickfile-{{ id }}' class='attach-button' title='Attach files'><i class='attach-icon'></i>From Computer</a> | 
                <a class='dropbox-file-chooser'>Dropbox</a> | 
                <a id='google-drive-file-chooser-post-{{ item.id }}'>Google Drive</a>
              </div>
              <input type='hidden' name='attachments'>
  {#
              <input type="submit" value="Post" class='button small-button rfloat'>
  #}
              <div class="upload-status rfloat"></div>
              <div class="attachments"></div>
              
            
              <script type="text/javascript">
              
              
 
                $('#body').on('click', 'form.new-comment a.dropbox-file-chooser', function() {
                  Dropbox.choose({
                    linkType: "preview",
                    multiselect: true,
                    success: function(files) {
                      $.global.dropbox_files = files;
                      for(var i in files) {
                        
                        var file = files[i];
                        
                        if ($('#new-comment-{{ item.id }} div.attachments div#attachment-' + btoa(file.link)).length == 0) {
                        
                          var html = "<div class='attachment' id='attachment-" + btoa(file.link) + "' data-file='" + btoa(JSON_stringify(file)) + "'>"
                                   + "<a href='" + file.link + "' target='_blank'>" + file.name + "</a>" 
                                   + "<a class='remove-attachment' href='#'>×</a>"
                                   + "</div>";
                          
                          $('#new-comment-{{ item.id }} div.attachments').append(html);
                          $('#new-comment-{{ item.id }} div.attachments').removeClass('hidden');
                      
                          attachments = $('#new-comment-{{ item.id }} input[name="attachments"]').val() + btoa(JSON_stringify(file)) + ',';
                          $('#new-comment-{{ item.id }} input[name="attachments"]').val(attachments);
                      
                          refresh('#new-comment-{{ item.id }} div.attachments');
                          
                          
                        }
                             
                      }
                    },
                    cancel:  function() {}
                  });
                });
            
            
                  $.global.uploader_{{ id }} = new plupload.Uploader({
                    runtimes : 'html5',
                    browse_button : 'pickfile-{{ id }}',
                    url : '/attachment/new',
                    multi_selection : true,
                    max_file_size : '50mb',
                    headers: {
                      'X-CSRFToken': get_cookie('_csrf_token')
                    }
                  });
              
                  $.global.uploader_{{ id }}.bind('Init', function(up, params) {
                  });
                  
                  $.global.uploader_{{ id }}.init();
              
                  $.global.uploader_{{ id }}.bind('FilesAdded', function(up, files) {
                        $.global.uploader_{{ id }}.start();
                  });
              
                  $.global.uploader_{{ id }}.bind('UploadProgress', function(up, file) {
                    if(file.percent != 100) {
                      $('#new-comment-{{ item.id }} .upload-status').html("Uploading " + file.percent + "%");
                    } else {
                      $('#new-comment-{{ item.id }} .upload-status').html("Verifying...");
                    }
                  });
                  
                  $.global.uploader_{{ id }}.bind('UploadComplete', function(up, file) {
                  });
              
                  $.global.uploader_{{ id }}.bind('Error', function(up, err) {
                    show_error();
                  });
              
                  $.global.uploader_{{ id }}.bind('FileUploaded', function(up, file, response) {
                    $('#new-comment-{{ item.id }} .upload-status').html('');
                    response = $.parseJSON(response.response);
                    
                   if ($('#new-comment-{{ item.id }} div.attachments div#attachment-' + response.attachment_id).length == 0) {
                      $('#new-comment-{{ item.id }} div.attachments').append(response.html);
              
                      files = $('#new-comment-{{ item.id }} input[name="attachments"]').val() + response.attachment_id + ','
                      $('#new-comment-{{ item.id }} input[name="attachments"]').val(files);
                
                      refresh('#new-comment-{{ item.id }} div.attachments');
                      
                    }
                    
                  });
              
              </script>
              
  
            </footer>
          </form>
      </li>    
      {% endif %}
    {% endif %}
</ul>