<div id="page-header" class='search'>
  <form action='/search?type=people' method='post'>
    <input autofocus type='text' name='query' placeholder="Search people">

  </form>
  <h2>Contacts</h2>
</div>

<ul class='people'>
  {% if groups %}
    {% for group in groups %}
      <li>
        <label class='lfloat'>
          <input type='checkbox' value='{{ group.id }}|{{ group.name }}' class='checkbox-posting' />
        </label>
    
        <!--<img class='small-avatar lfloat' src='{{ group.logo }}'>-->
    
        <i class="group-icon"></i>
        <a href='#' class='async user'>{{ group.name }}</a>
        
        <br>
      </li>
    {% endfor %}
    <div class="line-separator"></div>
  {% endif %}
  {% set contacts = owner.contacts + owner.google_contacts_as_obj %}
  {% if contacts %}
 
    {% for user in contacts %}
      {% if user.email %}
    
        <li>
          <label class='lfloat'>
            <input type='checkbox' value='{{ user.id }}|{{ user.name }}' class='checkbox-posting' />
          </label>

          <!--
          <a class='button chat rfloat' href='/chat/user/{{ user.id }}'>Start Chat</a>
          -->
      
          <img class='small-avatar lfloat' src='{{ user.avatar }}'>
      
          {% if user.is_registered() == True %} <!-- registered user -->
            <a href='/user/{{ user.id }}' class='async user'>{{ user.name }}</a>
            <i class='{{ user.status }}  user-{{ user.id }}-status'></i>
          {% else %} <!-- Google contacts -->
            <a href='#' class='async user'>{{ user.email }}</a>
            Google contact
          {% endif %}
          <br>
      
          {% set last_online = user.last_online %}
          <time class='timeago' title='{{ last_online | friendly_format(owner.utcoffset) }}' datetime='{{ last_online | isoformat(owner.utcoffset) }}'>
            {{ last_online | friendly_format(owner.utcoffset, short=True) }}
          </time>
      
        </li>
    
      {% endif %}
    {% endfor %}
  {% else %}
    <li>
      Your contact list is empty. <a href="/search?type=email&ref=everyone" class="popup">Invite people by Email</a>
    </li>
  {% endif %}
</ul>
<ul><li class="group-chat postin" style="display: inline;"><a id="submit-contacts-to-post" class="button chat lfloat" href='#'>Select</a></li></ul>

