    <div id="footer-info" class="lfloat">
       <span>Jupo  &copy; 2011</span>  ·  <a href="#">English (US)</a>
    </div>            
    
    <ul id="footer-menu" class="rfloat"> 
        <li><a target='_blank' href="/about">About us</a></li> · 
        <li><a target='_blank' href="/jobs">Jobs</a></li> · 
        <li><a target='_blank' href="http://twitter.com/Jupo">Status</a></li> · 
        <li><a target='_blank' href="/terms">Terms of Service</a></li> · 
        <li><a target='_blank' href="/privacy">Privacy Policy</a></li>
    </ul>