    <div id="footer-info" class="lfloat">
       <span>Jupo  &copy; 2011</span>  ·  <a href="#">English (US)</a>
    </div>            
    
    <ul id="footer-menu" class="rfloat"> 
        <li><a target='_blank' href="http://bit.ly/164VZ33">About us</a></li> · 
        <li><a target='_blank' href="http://bit.ly/13HPhwc">Jobs</a></li> · 
        <li><a target='_blank' href="http://twitter.com/JupoSocial">Status</a></li> · 
        <li><a target='_blank' href="http://bit.ly/164T2j9">Terms of Service</a></li> · 
        <li><a target='_blank' href="http://bit.ly/118AJQT">Privacy Policy</a></li>
    </ul>