
  

  <form id='forgot-password' action='/forgot_password' class='authen' method='POST'>
    <h2>Forgot your password?</h2>
    <p>
      To reset your password, enter your email address and <br>
      we'll send you instructions on how to create a new password.
    </p>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <input type='email' name='email' placeholder="Email Address">
    <br><br>
    <button type='submit' class='button'>Submit</button>
    
    
  </form>
