<div id="page-header" class='border-bottom'>
  {% if view == 'groups' and not open_groups %}
  <div class="actions rfloat">
     <a href="/group/new" class="popup button">New Group</a>
  </div>
  {% endif %}
  
  
  {% if open_groups %}
    <h2>Featured Groups</h2>
  {% elif not user %}
    <h2>Groups</h2>
  {% else %}
    <h2><a href='/user/{{ user.id }}' class='async black'>{{ user.name }}</a>'s Groups</h2>
  {% endif %}
</div>

<ul class='groups'>
  {% if open_groups %}
    {% for group in open_groups %}
      {% if group.privacy == 'open' %}
      <li>
        <a href="/group/{{ group.id }}" class='async' rel='group-{{ group.id }}'>
          <i class="group-icon"></i> {{ group.name }}
        
          <div class='info'>
            <span>{{ group.members | length }} {% if group.privacy == 'open' %}followers{% else %}members{% endif %}</span>
          
          </div>
        </a>
        {#
        {% if owner.id in group.administrator_ids %}
        <a class='overlay lfloat edit-icon' href='#!/group/{{ group.uuid }}/edit' title="Edit {{ group.name }}'s Profile"></a>
        {% endif %}
        #}
      </li>
      {% endif %}
    {% endfor %}
    
    
  {% else %}
    
    {% for group in groups %}      
      {% if (user and group.privacy == 'open') or not user %}
      <li>
         <a href="/group/{{ group.id }}" class='async' rel='group-{{ group.id }}' title='{{ group.name }}'>
           
          <i class="group-icon"></i>
          <span>{{ group.name | truncate(25, True) }}</span>
        
          <div class='info'>
            <span class=''>{{ group.members | length }} {% if group.privacy == 'open' %}followers{% else %}members{% endif %}</span>          
          </div>
        </a>
      </li>
      {% endif %}
    {% endfor %}
    
    {% if user %}
    <li>
      <a>
        and {{ groups | length - user.open_groups | length }} private groups.
      </a>
    </li>
    {% endif %}
  {% endif %}
</ul>


{% if featured_groups %}
  <div id="right-sidebar">
          <div class="box">
            <div class="header">
              <div class="title">Featured Groups</div>
            </div>
            <div class="body" id='groups'>
              <ul>
              {% for group in featured_groups %}
                <li>
                  <a href='/group/{{ group.id }}' class='async' title='{{ group.name }}'>
                    <i class='group-icon lfloat'></i>
                    <span class='name'>{{ group.name }}</span>
                    <br>
                    <span class='gray info'>
                      {% if group.about %}
                        {{ group.about | truncate(25, True) }}
                      {% else %}
                        {{ group.member_ids | length }} members
                      {% endif %}
                    </span>
                  </a>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
          
  </div>
{% endif %}
