
{% if groups %}
<ul class='groups'>
    <div class='title'>
      <div class="actions rfloat">
         <a href="/group/new" class="popup button">New Group</a>
      </div>
      {% if user %}
        <a href='/user/{{ user.id }}' class='async black'>{{ user.name }}</a>'s Groups
      {% else %}
        Groups
      {% endif %}
    </div>
    {% for group in groups %}      
      {% if group.privacy in ['open', 'closed'] or owner.id in group.member_ids %}
      <li>
         <a href="/group/{{ group.id }}" class='async' rel='group-{{ group.id }}' title='{{ group.name }}'>
           
          <i class="group-icon"></i>
          <span>{{ group.name | truncate(25, True) }}</span>
        
          <div class='info'>
            <span class=''>{{ group.members | length }} members</span>
          </div>
        </a>
      </li>
      {% endif %}
    {% endfor %}
    
</ul>
{% endif %}

{% if default_groups %}
<ul class='groups'>
    <div class="title">Suggested Groups</div>
    {% for group in default_groups %}     
      <li>
         <a href="/group/new?name={{ group.name | urlencode }}&description={{ group.description | urlencode }}" class='popup' title='{{ group.name }} - {{ group.description }}'>
           
          <i class="group-icon"></i>
          <span>{{ group.name | truncate(25, True) }}</span>
        
          <div class='info'>
            {{ group.description }}
          </div>
        </a>
      </li>
    {% endfor %}
</ul>
{% endif %}



{% if featured_groups %}
<ul class='groups'>
    <div class="title">Featured Groups</div>
    {% for group in featured_groups %}      
      {% if owner.id not in group.member_ids %}
      <li>
         <a href="/group/{{ group.id }}" class='async' rel='group-{{ group.id }}' title='{{ group.name }}'>
           
          <i class="group-icon"></i>
          <span>{{ group.name | truncate(25, True) }}</span>
        
          <div class='info'>
            <span class=''>{{ group.members | length }} members</span>
          </div>
        </a>
      </li>
      {% endif %}
    {% endfor %}
    
</ul>
{% endif %}
