{% extends 'base.html' %}

{% block title %}
  {% if unread_notification_count != 0 %}({{ unread_notification_count }}){% endif %}
  {% if title %}{{ title }}{% else %}Jupo{% endif %}
{% endblock %}


{% block meta %}
  <meta property="og:type" content="fire-works:post" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:url" content="{{ request.url }}" />
  {% if description %}
    <meta property="og:description" content="{{ description }}" />
  {% endif %}
  {% if image %}
    <meta property="og:image" content="{{ image }}" />
  {% endif %}
{% endblock %}



{% block logo %}
  <a id='menu-toggle' class='lfloat'>
    <i class='menu-icon'></i>
  </a>
  

  <div id='logo' class='lfloat'>
  {#  <a href='/welcome' class='async fire-icon logo' rel='welcome'>Jupo</a> #}
  
    <a title='{{ logo_text }}' href='{% if owner %}/news_feed{% else %}/{% endif %}' class='async' rel='{% if owner %}news-feed{% else %}discover{% endif %}'>
      {{ logo_text }}
    </a>
    
  </div>
{% endblock %}

{% block search_box %}
  {% if owner.id %}
    {% include 'search_box.html' %}
  {% endif %}
{% endblock %}

{% block menu %}
  {% if owner %}
    
    <ul id="menu" class="rfloat"> 
        {#
        +<a href='/search?type=people' class='popup'>Add Contact</a>  · 
        <a href='/group/new' class='popup'>New Group</a> 
        
        #}
        
        
        
        
        
           
          
          <a class='dropdown-menu user' data-owner-id='{{ owner.id }}'><img src='{{ owner.avatar }}' class='micro-avatar'> {{ owner.name }}</a>
          <ul class='dropdown-menu hidden user'>
            <div class='white-bg'></div>
            <div class='arrow-top-border'></div>
            <div class='arrow-top'></div>
            <div class='account-info'>
              <a href='/user/{{ owner.id }}' class='async'>
                <img class='small-avatar lfloat' src='{{ owner.avatar }}'>
              </a>
              <a href='/user/{{ owner.id }}' class='async'>
                <span class='username' title='{{ owner.name }}'>{{ owner.name}}</span>
                <span class='email' title='{{ owner.email }}'>{{ owner.email}}</span>
              </a>
              {% if owner.last_login %}
              <div class='history'>
                <span>Last login:</span>
                <span>
                  <time class='timeago' datetime='{{ owner.last_login.timestamp | isoformat(owner.utcoffset) }}'>{{ owner.last_login.timestamp | friendly_format(owner.utcoffset, short=True) }}</time>
<!--                   from {{ owner.last_login.ip }} -->
                  on {{ owner.last_login.os }}, {{ owner.last_login.browser }}
                </span>
              </div>
              {% endif %}
              
            </div>
            
            {% set networks = owner.networks %}
            {% if networks | length > 1 %}
            <li class='networks'>
              Networks
              
              <ul class='networks-list'>
                {% for network in networks[:3] %}
                  {% if network.domain != domain %}
                  <li>
                    <a href='{{ network.url }}?session_id={{ owner.session_id }}' target='_blank'>
                      <span class='unread  {% if network.unread_notifications == 0 %}grey{% endif %}'>{{ network.unread_notifications }}</span> {{ network.name }} 
                    </a>
                  </li>
                  {% endif %}
                {% endfor %}
                
                {% if networks | length > 3 %}
                <li>
                    <a href='/networks' class='popup switch-network'>
                      Switch Network...
                    </a>
                  </li>
                {% endif %}
                
              </ul>
              
            </li>
            {% endif %}
            <li><a href='/user/{{ owner.id }}/update_profile' class='popup'>Account Settings</a></li>
            <li>
              <a id='pick-avatar'>Change Profile Picture</a>
              
              <div id="container">
                <div id="filelist"></div>
              </div>  
            </li>
            <li><a onclick="window.location.href = '/everyone?getting_started=1'">Take a Tour</a></li>

<!--             <li><a href="/keyboard_shortcuts" class='overlay'>Keyboard shortcuts</a></li> -->
            
            <li><a href="/sign_out">Sign out</a></li> 
          </ul>
        
        
        
        <a href='/news_feed' class='async'>Home</a>
        <a href='/groups' class='async'>Find Groups</a>
      
        <a class="view-notifications">
          <span class='counter {% if unread_notification_count == 0 %}grey{% endif %}' id="unread-notification-counter">
            {{ unread_notification_count }}
          </span>
        </a>
        <ul class='dropdown-menu hidden notifications'>
          <div class='white-bg'></div>
          <div class='arrow-top-border'></div>
          <div class='arrow-top'></div>
          <ul>
            <p><strong>Loading...</strong></p>
          </ul>
        </ul>
    </ul>
  {% endif %}
{% endblock %}

{% block left_sidebar %}
    {% include "left_sidebar.html" %}
{% endblock %} 

{% block body %}
    <div id='popup' class='hidden'>
      <div class='background'>
        <div class='content'>
        </div>
      </div>
    </div>
      
    <div id='overlay'></div>
    <div id="body">        
      {% if view == 'new-group' %}
        {% include "new.html" %}
      {% elif view == 'feed'%}
        {% include 'news_feed.html' %}
      {% elif view == 'messages'%}
        {% include 'expanded_chatbox.html' %}
      {% else %}
        {% set template = view + '.html' %}
        {% include template %}
      {% endif %}  
    </div>
    

    
{% endblock %}



{% block stylesheets %}

  {% if debug == True %}
  
          <link rel="stylesheet" href="/public/styles/normalize.css">
          <link rel="stylesheet" href="/public/styles/animations.css">
          <link rel="stylesheet" href="/public/styles/icons.css">
          <link rel="stylesheet" href="/public/styles/home.css">
          <link rel="stylesheet" href="/public/styles/wysihtml5.css">
          <link rel="stylesheet" href="/public/styles/jquery.notice.css">
          <link type="text/css" rel="stylesheet" href="/public/styles/prettify.css">
          <link rel="stylesheet" href="/public/styles/hopscotch.css">
          <link rel="stylesheet" href="/public/styles/jquery.atwho.css">
          <link rel="stylesheet" href="/public/styles/chat.css">
  
  
  {% else %}
    {% assets filters="cssmin", 
              output="style.css",
              "styles/normalize.css",
              "styles/animations.css",
              "styles/jquery.notice.css",
              "styles/icons.css",
              "styles/home.css",
              "styles/hopscotch.css",
              "styles/jquery.atwho.css",
              "styles/wysihtml5.css",
              "styles/prettify.css",
              "styles/chat.css" %}
          <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %} 
  
  {% endif %}        

{% endblock %}

{% block top_scripts %}
  
  
  <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
  <script type='text/javascript' src="/public/scripts/google-code-prettify/prettify.js"></script>

  <script src="https://www.google.com/jsapi?key={{ settings.GOOGLE_API_KEY }}"></script>
  <script src="/public/scripts/googledrive.filepicker.js"></script>
  <script src="https://apis.google.com/js/client.js"></script>
  {% if debug == True %}
    <script type='text/javascript' src='/public/scripts/detect_timezone.min.js'></script>
    <script type='text/javascript' src='/public/scripts/plupload.js'></script>
    <script type='text/javascript' src='/public/scripts/plupload.html5.js'></script>
    <script type='text/javascript' src='/public/scripts/jquery.elastic.js'></script>
    <script type='text/javascript' src='/public/scripts/underscore-min.js'></script>
    <script type='text/javascript' src='/public/scripts/jquery.mentions.js'></script>
    <script type='text/javascript' src='/public/scripts/jquery.notice.js'></script>
    <script type='text/javascript' src='/public/scripts/jquery.idle-timer.js'></script>
    <script type='text/javascript' src='/public/scripts/jquery.tokeninput.js'></script>
    <script type='text/javascript' src='/public/scripts/jquery.tipsy.js'></script>
    <script type='text/javascript' src='/public/scripts/jquery.timeago.js'></script>
    <script type='text/javascript' src='/public/scripts/jquery.titlealert.js'></script>
    <script type='text/javascript' src='/public/scripts/jquery.atwho.js'></script>
    <script type='text/javascript' src='/public/scripts/functions.js'></script>
  {% else %}
    {% assets filters="jsmin", 
              output="lib.js",
              'scripts/disable_console_log.js',
              'scripts/detect_timezone.min.js',
              'scripts/plupload.js',
              'scripts/plupload.html5.js',
              'scripts/jquery.elastic.js',
              'scripts/underscore-min.js',
              'scripts/jquery.mentions.js',
              'scripts/jquery.notice.js',
              'scripts/jquery.idle-timer.js',
              'scripts/jquery.tokeninput.js',
              'scripts/jquery.tipsy.js',
              'scripts/jquery.timeago.js',
              'scripts/jquery.titlealert.js',
              'scripts/jquery.atwho.js',
              'scripts/functions.js' %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
   {% endif %}
   
   <script type='text/javascript'>
      if (typeof $.global === 'undefined') {
        $.global = {};
      }         
   </script>
   
{% endblock %}

{% block bottom_scripts %}
    
  <script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropins.js" id="dropboxjs" data-app-key="{{ settings.DROPBOX_APP_KEY }}"></script>
  
  
  <script>
    GOOGLE_API_KEY = '{{ settings.GOOGLE_API_KEY }}';
    GOOGLE_CLIENT_ID = '{{ settings.GOOGLE_CLIENT_ID | replace(".apps.googleusercontent.com", "") }}';
  </script>
  
  {% if debug == True %}
    
    
    <script type='text/javascript' src='/public/scripts/main.js'></script>
    <script type='text/javascript' src='/public/scripts/hopscotch-0.1.js'></script>
    <script type='text/javascript' src='/public/scripts/product_tours/getting_started.js'></script>
    <script type='text/javascript' src='/public/scripts/product_tours/share_a_post.js'></script>
  {% else %}  
    {% assets filters="jsmin", 
              output="core.js",
              "scripts/main.js",
              "scripts/hopscotch-0.1.js",
              "scripts/product_tours/getting_started.js",
              "scripts/product_tours/share_a_post.js" %}
              
             <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  
  {% endif %}
  
  
  

  {% if unread_messages_count > 0 %}
      
    <script>
      {% for message in unread_messages %}
        {% if message.has_key('topic') %}
          start_chat('topic-{{ message.topic_id }}')
        {% else %}
          start_chat('user-{{ message.sender.id }}')
        {% endif %}
      {% endfor %}
    </script>
      
  {% endif %}
  
  
  {% if first_login %}
    
      //$('#invite_url').trigger('click');
      <script type='text/javascript' src='/public/scripts/functions.js'></script>
      <script type="text/javascript">
        var href = "/invite";
        open_in_popup_mode(href);
      </script>

    
  {% endif %}
  
   
  <script type="text/javascript">
      if (top.location.href != self.location.href)
         top.location.href = self.location.href;
         
      {% if request.args and not request.path.endswith('/new') %}
        $(document).ready(function() {
            hopscotch.startTour({{ request.args.keys()[0] }});
        })
      {% endif %}
  </script>
   
   
   
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-39400415-1', 'jupo.com');
    ga('send', 'pageview');
  
  </script>
   


  <script id="IntercomSettingsScriptTag">
    window.intercomSettings = {
      // TODO: The current logged in user's email address.
      email: "{{ owner.email }}",
      // TODO: The current logged in user's sign-up date as a Unix timestamp.
      created_at: {{ owner.created_at }},
      app_id: "7e4f0ed896cd548b9f3a1c6d12d8aa468ba44f6c"
    };
  </script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://api.intercom.io/api/js/library.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}};})()</script>


  {% if settings.CUSTOMER_IO_SITE_ID %}
    <!-- Customer.io integration -->
    <script type="text/javascript">
      var _cio = _cio || [];
      (function() {
        var a,b,c;a=function(f){return function(){_cio.push([f].
        concat(Array.prototype.slice.call(arguments,0)))}};b=["load","identify",
        "sidentify","track","page"];for(c=0;c<b.length;c++){_cio[b[c]]=a(b[c])};
        var t = document.createElement('script'),
            s = document.getElementsByTagName('script')[0];
        t.async = true;
        t.id    = 'cio-tracker';
        t.setAttribute('data-site-id', '{{ settings.CUSTOMER_IO_SITE_ID }}');
        t.src = 'https://assets.customer.io/assets/track.js';
        s.parentNode.insertBefore(t, s);
      })();
    </script>

    <script type="text/javascript">
      _cio.identify({
        // Required attributes
        id: '{{ owner.id }}',           // Unique id for the currently signed in user in your application.
        email: '{{ owner.email }}', // Email of the currently signed in user.
        created_at: {{ owner.timestamp }},   // Timestamp in your system that represents when
                                  // the user first signed up. You'll want to send it
                                  // as seconds since the epoch.

        // Optional (these are examples. You can name attributes what you wish)

        name: '{{ owner.name }}',       // Add any attributes you'd like to use in the email subject or body.
        plan_name: 'free'      // To use the example segments, set this to 'free' or 'premium'.
      });
    </script>
  {% endif %}
  
  
  
{% endblock %}

