<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome
    Frame
    Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Jupo - Get work done. Faster.</title>
    <meta name="description" content="Jupo is a collaboration web app for teams." />
    <meta name="author" content="anhpt" />

    <meta name="viewport" content="width=device-width; initial-scale=1.0" />

    <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain
    and delete these references -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  </head>

  <body>
    <div>
      <header>
        <h1>Jupo</h1>
      </header>
      <nav>
        <p>
          <a href="/">Features</a>
        </p>
        <p>
          <a href="/contact">Stories</a>
        </p>
        <p>
          <a href="/jobs">@Jupo</a>
        </p>
        <p>
          <a href='#'>Find Us on Facebook</a>
        </p>
      </nav>

      <div>
Work Better, Together.
The easiest way to get all your work done. 
Discuss, share stories, notes and files with anyone you work with.

<a>Try Now. It's free.</a>
      </div>

      <footer>
        About Blog Jobs Privacy Terms
        <p>
          © 2013 Jupo.com.
        </p>
      </footer>
    </div>
  </body>
</html>
