<div id="page-header">
    <div class="actions rfloat">
        <ul>
            <li>
                <div class="button">
                    <a href="/edit?type=profile" class="popup">
                    <span class="edit-icon"></span>
                    <span class="button-text">Edit Profile</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <h2>
          <span class="title">{{ info.name }}</span>
        </h2>
    </div>
</div>

<div id="profile">
    <h4>About</h4>
    <p>{{ info.about }}</p>
<!--   <div id="products"></div>
  <div id="email"></div>
  <div id="phone">
    
  </div>
  <div id="website"></div> -->
</div>