<div id='page-header'></div>
<a class='button rfloat'>Try Now. It's free.</a>
<div>
  <h1>Hi. We're Jupo.</h1>
  <h2>
    Connect your team and get all your work done.
  <br>
  Discuss, share stories, notes and files with anyone you work with. </h2>
</div>
<div class='features'>
  <div class='feature'>
    <h3>News Feed</h3>
    <p>Stay up-to-date, react in seconds instead of hours. 
       Track your receipts has read the post that you sent.</p>
  </div>

  <div class='feature'>
    <h3>Notifications</h3>
    <p>All your alerts, in one place.<br>
       <a href='#'>Desktop Notifications</a>
    </p>
  </div>

  <div class='feature'>
    <h3>People</h3>
    <p></p>
  </div>

  <div class='feature'>
    <h3>Groups</h3>
    <p>Share information with your team. 
      Keep your discussions, documents and files in one place all the time.
    </p>
  </div>

  <div class='feature'>
    <h3>Reminders</h3>
    <p>Stay focused and keep track of what needs to get done.</p>
  </div>

  <div class='feature'>
    <h3>Notes</h3>
    <p>
      Save every edit, rollback to any version, and easily compare changes.
    </p>
  </div>

  <div class='feature'>
    <h3>Easy File Sharing</h3>
    <p>Upload mockups, images, presentations or other documents
       and share them with others instantly.
    </p>
  </div>

  <div class='feature'>
    <h3>Real-time Search</h3>
    <p>Search and find things instantly. <br>
       Predicting your search and showing results before you finish typing
    </p>
  </div>

  <div class='feature'>
    <h3>Go Mobile</h3>
    <p></p>
  </div>
</div>

{#
<h3>Jupo is a collaboration web app for teams.</h3>

#}











<footer>
  © 2013 Jupo.com.
  <a href='#'>About</a> · <a href='#'>Blog</a> · <a href='#'>Jobs</a> · <a href='#'>Privacy</a> · <a href='#'>Terms</a>
</footer>

<style>
  h1 {
    font-size: 30px;
    font-family: arial;
  }

  h2 {
    font-weight: normal;
  }

  a.button {
    font-size: 20px;
    padding: 34px 50px;
    margin: 5px 15px 0 0;
  }

  footer {
    margin: 50px 0;
  }


  .features {
    overflow: auto;
    margin: 50px 0;
  }

  .feature {
    float: left;
    width: 222px;
    height: 100px;
    margin: 0 15px 15px 0;
    padding: 10px;
    background-color: white;
    border: 1px solid #C4CDE0;
    border-bottom: 1px solid #ADB6CA;
    border-radius: 3px;
  }
  
  .feature h3 {
    font-size: 14px;
    font-family: arial;
    margin: 3px 0 0;
  }
  
  .feature p {
    padding: 0;
    margin: 3px 0;
    color: #666;
  }
</style>