  <div id="page-header">
          <h2>{% if title %}{{ title | safe }}{% else %}Invite Friends to Jupo{% endif %}</h2>
  </div> 

  <form class='invite' action='/invite' method='post'>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="group_id" value="{{ group.id }}">
    
    <!--
    <ul class='people'>
      {% if email_addrs %}
        {% for email in email_addrs %}
          {{ email }}
        {% endfor %}
      {% else %}
        <li>
          Your Google contact list is empty
        </li>
      {% endif %}
    </ul>
    -->

    <label>Type names or email addresses:</label>
    <input class="friends" placeholder="Enter an email address..." name='to'></input><br>

    {% if invited_addrs|length > 0 %}
      <label>People has been invited but not joined yet, give them a reminder as well?</label>
      <input class="friends_invited" placeholder="Enter an email address..." name='to_invited'></input><br>
    {% endif %}
    
    <label>Message (optional)</label>
    <textarea name='msg'></textarea>
    
    <input type='submit' class='button rfloat' value='Send Invitation'>
    <span class='status rfloat'></span>
  </form>
  
<script>

   users = [
     {% for email in email_addrs %}
       {'type': 'email', 'avatar': '/public/images/send-mail.png', 'name': '{{ email }}', 'id': '{{ email }}'}, 
     {% endfor %}
   ]

   users_invited = [
     {% for email in invited_addrs %}
       {'type': 'email', 'avatar': '/public/images/send-mail.png', 'name': '{{ email }}', 'id': '{{ email }}'}, 
     {% endfor %}
   ]
  
   $('input.friends').tokenInput(users, {
      searchDelay: 300,
      preventDuplicates: true,
      queryParam: 'query',
      hintText: 'Enter an email address...',
      animateDropdown: false,
      resultsFormatter: function(item) {
        return "<li><img class='" + item.type + "' src='" + item.avatar + "'>" + item.name + "</li>"
      },
      allowEmail: true,
      showDropdownOnFocus: false,
      noResultsText: null,
      searchingText: null,
    });

    $('input.friends_invited').tokenInput(users_invited, {
      searchDelay: 300,
      preventDuplicates: true,
      queryParam: 'query',
      hintText: 'Enter an email address...',
      animateDropdown: false,
      resultsFormatter: function(item) {
        return "<li><img class='" + item.type + "' src='" + item.avatar + "'>" + item.name + "</li>"
      },
      allowEmail: true,
      showDropdownOnFocus: false,
      noResultsText: null,
      searchingText: null,
    });
    
    setTimeout(function() {
      $('.token-input-input-token input').focus();
    }, 10)
    
    $('.token-input-input-token input').focus(function() {
        $('div.token-input-dropdown').css('visibility','visible');
        $('div.token-input-dropdown').css('display','none');
    });

    //populate with all Google App emails
    {% for email in email_addrs %}
      $('input.friends').tokenInput("add", {id: '{{ email }}', name: '{{ email }}'});
    {% endfor %}

    {% for email in invited_addrs %}
      $('input.friends_invited').tokenInput("add", {id: '{{ email }}', name: '{{ email }}'});
    {% endfor %}
 

</script>