  <div id="page-header">
          <h2>{% if title %}{{ title | safe }}{% elif email_addrs or invited_addrs %}Get the team together{% else %}Invite Friends to Jupo{% endif %}</h2>
  </div> 

  <form class='invite' action='/invite' method='post'>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="group_id" value="{{ group.id }}">
    
    {% if email_addrs or invited_addrs %}
    
    {% if email_addrs | length > 0 %}{{ email_addrs | length }} people haven't joined yet{% else %}You have {{ google_contacts | length }} google contacts{% endif %}.
    <br>
    <label class='toggle-check-all'><input type='checkbox'> Select All</label><br>
    <ul class='emails'>
          
        {% for email in email_addrs %}
          <li><label><input type='checkbox' value='{{ email }}' checked name='item-1-{{ loop.index }}'> {{ email }}</label></li>
        {% endfor %}
        
        {% for email in google_contacts %}
          {% if email not in email_addrs %}
          <li><label><input type='checkbox' value='{{ email }}' name='item-2-{{ loop.index }}'> {{ email }}</label></li>
          {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    

    <label>Let me type:</label>
    <input class="friends" placeholder="Enter an email address..." name='to'><br>
    
    <label>Message (optional)</label>
    <textarea name='msg'></textarea>
    
    <input type='submit' class='button rfloat' value='Send Invitation'>
    <span class='status rfloat'></span>
  </form>
  
<script>

  $('#popup .toggle-check-all input[type="checkbox"]').change(function() {
    if ($(this).is(':checked')) {
      $('#popup ul.emails input[type="checkbox"]').attr('checked', 'checked');
    } else {
      $('#popup ul.emails input[type="checkbox"]').attr('checked', null);
    }
    
  });

   users = [
     {% for email in email_addrs %}
       {'type': 'email', 'avatar': '/public/images/send-mail.png', 'name': '{{ email }}', 'id': '{{ email }}'}, 
     {% endfor %}
   ];

   users_invited = [
     {% for email in invited_addrs %}
       {'type': 'email', 'avatar': '/public/images/send-mail.png', 'name': '{{ email }}', 'id': '{{ email }}'}, 
     {% endfor %}
   ];
  
   $('input.friends').tokenInput(users, {
      searchDelay: 300,
      preventDuplicates: true,
      queryParam: 'query',
      hintText: 'Enter an email address...',
      animateDropdown: false,
      resultsFormatter: function(item) {
        return "<li><img class='" + item.type + "' src='" + item.avatar + "'>" + item.name + "</li>"
      },
      allowEmail: true,
      showDropdownOnFocus: false,
      noResultsText: null,
      searchingText: null,
    });

    $('input.friends_invited').tokenInput(users_invited, {
      searchDelay: 300,
      preventDuplicates: true,
      queryParam: 'query',
      hintText: 'Enter an email address...',
      animateDropdown: false,
      resultsFormatter: function(item) {
        return "<li><img class='" + item.type + "' src='" + item.avatar + "'>" + item.name + "</li>"
      },
      allowEmail: true,
      showDropdownOnFocus: false,
      noResultsText: null,
      searchingText: null,
    });
    
    setTimeout(function() {
      $('.token-input-input-token input').focus();
    }, 10)
    
    $('.token-input-input-token input').focus(function() {
        $('div.token-input-dropdown').css('visibility','visible');
        $('div.token-input-dropdown').css('display','none');
    });
 

</script>