<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Jupo</title>
    <meta name="description" content="Powerful collaboration tools for private development projects" />
    <meta name="author" content="anhpt" />

    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/public/styles/normalize.css" rel="stylesheet">
    <link href="/public/styles/landing_page.css" rel="stylesheet">

  </head>

  <body>
    <div class='jumbotron'>
      <div class='container'>
        <header>
          <nav>
            <a href='#' class='logo'> 
              
                    <img src='/public/images/logo/jupo-full.png' width="80">
            </a>

            <a href='/sign_in' class='button'>Sign in</a>
            <a href='/sign_up' class='button sign-up'>Create an Account</a>

            {#
            <a href='#'>Explore</a>
            <a href='#'>Search</a>
            <a href='#'>Features</a>
            <a href='#'>Blog</a>
            #}
          </nav>
        </header>

        <img src="/public/images/home.png" class="rfloat screenshot">

        <div class='heading'>
          <img src='/public/images/intro.png' class="intro">

          <h2>Unlimited usage, no obligations.</h2>
          <a href="/network/new">
            <span class="text1">It's just <strong>one</strong> simple step to create your own network.</span>
            <span class="text2"> Start here</span> </a>
        </div>
        <div class="jumbotron-shadow"></div>
      </div>
    </div>
    <div class='container teasers'>
      <div class='teaser'>
        <h2>The easiest way to connect your team.</h2>
        <p>
          Bring together your team’s conversations, notes and files in a uniquely designed workspace.
        </p>
      </div>
      <div class='teaser'>
        <h2>All your work. In one place.</h2>
        <p>
          Create, discuss, and share content with coworkers.
          Store files, post documents to team workspaces,
          and collaboratively edit notes in real time.
        </p>
      </div>
      {#
      <div>
        <h2>Intergrations</h2>
        <p>
          Gitlab/github commit messages
        </p>
      </div>
      #}
      <div class='teaser'>
        <h2>Safe & secure.</h2>
        <p>
          Jupo includes critical security features specifically designed to
          keep your data safe, secure and in your control.
        </p>
      </div>
    </div>

    <footer>
      © 2013 Jupo.com. All rights reserved.
    </footer>


  </body>
</html>
