<!DOCTYPE html>
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
  <title>Jupo</title>
  <link href="/public/assets/css/style.css" rel="stylesheet">
  <link href="/public/assets/css/font-awesome.css" rel="stylesheet">
  <!--[if (lt IE 9) & (!IEMobile)]>
  <link href="/public/assets/css/ie8.css" rel="stylesheet">
  <![endif]-->
  <script src="/public/assets/js/modernizr.js"></script>
  <!--<script src="/public/assets/js/jquery.min.js"></script>
  <script src="/public/assets/js/jquery.validate.min.js"></script>-->
  <script src="/public/assets/js/parsley-standalone.min.js"></script>
  <link rel="shortcut icon" href="/public/assets/img/favicon.ico">
  
  
  {% if settings.MIXPANEL_TOKEN %}
  <script type="text/javascript">
  (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
  typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
  b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
  mixpanel.init("{{ settings.MIXPANEL_TOKEN }}");
  </script>
  <script type="text/javascript">
    mixpanel.track("Landing Page Loaded")
  </script>
  
  {% endif %}
  
</head>
<body class="homepage">

  <header id="masthead" class="site-header navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" title="Jupo" rel="home">
          {% if network != "" %}
            <span class="network-logo">{{ network }}</span>
            <!--
            @
            <img src="/public/assets/img/logo-small.png" alt="">
            -->
          {% else %}
            <img src="/public/assets/img/logo.png" alt="">  
          {% endif %}
        </a>
      </div>
      <nav id="site-navigation" class="collapse navbar-collapse main-navigation pull-right" role="navigation">
        <ul class="nav navbar-nav">
          <li class="current_page_item active">
            <a href="index.html" title="Home">Home</a>
          </li>
          <li class="page_item page-item-4">
            <a href="#">Meta</a>
          </li>
          <!--
          <li class="page_item page-item-4">
            <a href="/oauth/google?domain={{ domain }}&network={{ network }}" class="btn btn-sign-in">Sign-in</a>
          </li>
          -->
          <li class="page_item page-item-2">
            <a href="#">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="site-content">
    {% if network %}
    <div class="jumbotron network-page">
    <div class="inner">
      <div class="container">

        <div class="row">
          <div class="col-md-6" data-pos="left">
            <h1 class="network-welcome">Welcome to <span class="network-headline">{{ network }}!</span></h1>
            {% if network_exist == 1 %}
              <p>Join this network to collaborate with your colleagues now</p>
            {% else %}
              <p>This network seems brand new. <br/> Want to claim it ? Just sign in :)</p>
            {% endif %}
            <!--<p>Google Apps get social with Jupo, just one-click away!</p>-->
          </div>

          <div class="col-md-6" data-pos="right">
            <form class="form-signup form-signup-vertical" role="form" id='sign-in' method='post' data-validate="parsley">
              <div id="google-authentication">
                <div class="form-group">


                  <div class="popover top">
                    <div class="arrow"></div>
                    <div class="popover-content">
                      <!--<h3>Enter your Google Apps email</h3>-->
                      <p>Get all Google Apps features to enhance your company communication & collaboration.</p>
                    </div>
                  </div>


                  <div class="btn-group-wrap">
                    <a href="/oauth/google?domain={{ domain }}&network={{ network }}" title="" class="btn btn-social btn-google"><i class="icon-google-plus"></i> Sign in with Google Apps account</a>
                    <p style="width: 100%; margin-left: 45%;">-or-</p>
                    <a href="/oauth/facebook?domain={{ domain }}&network={{ network }}" title="" class="btn btn-social btn-social-small btn-fb"><i class="icon-facebook"></i> Sign in with Facebook account</a>
                    <a href="#" title="" class="btn btn-social btn-social-small btn-jupo" onclick="$('#normal-authentication').slideToggle(); "><i class="icon-asterisk"></i> Sign in with JUPO account</a>
                  </div>

                  <!--
                  div class="input-group">
                    <input type="text" name='email' class="form-control input-lg" placeholder="Email address" autocomplete="off" data-error-message="Email is invalid. Please check again" data-error-container="div.flash-message" {% if email %}value="{{ email }}"{% else %}autofocus{% endif %}/>
                    <span class="input-group-btn">
                      <a class="btn btn-lg btn-primary" href="/oauth/google?domain={{ domain }}&network={{ network }}">Get Started!</a>
                    </span>
                    <span class="input-group-addon">@{{ network }}</span>
                  </div>
                  -->
                </div>
              </div>
              <div id="normal-authentication" style="display: none">
                <div class="form-group">
                  {% if message %}
                    <p class='msg'>
                      <strong>{{ message | safe }}</strong>
                    </p>
                  {% endif %}
                  <!--
                  <div class="popover top">
                    <div class="arrow"></div>
                    <div class="popover-content">
                      <h3>Enter your Google App username</h3>
                      <p>Get all Facebook features to push your company communication & collaboration to the next level.</p>
                    </div>
                  </div>
                  -->
                  <div class="input-group input-group-lg">
                    <input type="text" name='email' class="form-control input-lg" placeholder="Email address" autocomplete="off" data-error-message="Email is invalid. Please check again" data-error-container="div.flash-message" {% if email %}value="{{ email }}"{% else %}autofocus{% endif %}/>
                    <!--<span class="input-group-addon">@{{ network }}</span>-->
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" name='password' class="form-control input-lg" placeholder="Password" autocomplete="off" {% if password %}value="{{ password }}" autofocus{% elif msg %}autofocus{% endif %}/>
                </div>

                <div class="btn-group btn-group-lg">
                  <button class="btn btn-lg btn-primary" type="submit" onclick="document.getElementById('sign-in').action = '/{{ network }}/sign_up'; document.getElementById('sign-in').submit();">Create Account</button>
                    <span class="btn-seperator">or</span>
                  <button class="btn btn-lg btn-default" type="submit" onclick="document.getElementById('sign-in').action = '/{{ network }}/sign_in'; document.getElementById('sign-in').submit();">Signin</button>
                </div>
              </div>

              <!--
              <div class="form-links">
                <p>You can also login with your <br />
                <a href="/oauth/facebook?domain={{ domain }}&network={{ network }}" title="" class=""><i class="icon-facebook"></i>&nbsp;&nbsp;Facebook Account</a>
                <span>&nbsp;&nbsp;or&nbsp;&nbsp;</span>
                <a href="" title="" class=""><i class="icon-apple"></i>&nbsp;&nbsp;Email Account</a></p>
                <a href="/oauth/google?domain={{ domain }}&network={{ network }}" title="" class=""><i class="icon-google-plus"></i>&nbsp;&nbsp;Google Account</a></p>
              </div>
              -->

              <div class='flash-message'></div>

              <input type="hidden" name="name" value="">

              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
              <input type="hidden" name="network" value="{{ network }}">
              <input type="hidden" name="back_to" value="http://{{ domain }}/{{ network }}">

              <!--<div class='flash-message'></div>-->
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <div class='flash-message'>
                      {{ message | safe }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            </form>
          </div>

        </div>

        <div class="screenshot"></div>
      </div>
    </div>
    </div>
    {% else %}
      <div class="jumbotron jumbotron-homepage">
      <div class="inner">
        <div class="container">
          <div class="intro">

            <h1>Give your Google App extra power</h1>
            <p>...by creating your own Facebook version for your team.</p>

            <form class="form-signup form-signup-horizontal" role="form" id='authenticate-with-google' action='/oauth/google' method="POST" data-validate="parsley">
            <div class="form-group">
            <!-- <div class="popover top">
                <div class="arrow"></div>
                <div class="popover-content">
                  <h3>Enter your Google App username</h3>
                  <p>Get all Facebook features is just 1 click away.</p>
                </div>
              </div> -->

              <div class="input-group">
                <input type="text" class="form-control input-lg" placeholder="Enter you Google Apps email here!" id="email" name="email" data-type="email" data-error-message="Email is blank or not provided by Google App. Please check again" data-error-container="div.flash-message" />
                <span class="input-group-btn">
                  <button class="btn btn-lg btn-primary" type="submit">Get Started!</button>
                </span>
              </div>
            </div>
              <div class='flash-message'></div>

              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <div class='flash-message'>
                      {{ message | safe }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}

              <input type="hidden" name="domain" value="{{ domain }}">
              <input type="hidden" name="call_from" value="landing">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            </form>

          </div>
          <!-- <div class="screenshot"></div> -->
        </div>
      </div>
      </div>
    {% endif %}
    <a class="jumbo-anchor"></a>

    <main id="main" class="site-main" role="main">

      <div class="container">

        <section class="section section-animation" id="load_section0">
          <a name="section0" class="section-anchor"></a>

          <div class="row col-group">
            <div class="col-md-4">
              <i class="icon-cogs"></i>
              <h3>FAMILIAR</h3>
              <p>Like the famous social network. Easy to use.</p>
            </div>
            <div class="col-md-4">
              <i class="icon-dashboard"></i>
              <h3>FOCUS</h3>
              <p>Just your teammates. Non distraction.</p>
            </div>
            <div class="col-md-4">
              <i class="icon-rocket"></i>
              <h3>FAST</h3>
              <p>Blazingly fast, and secure.</p>
            </div>
          </div>
        </section>

        <section class="section section-animation" id="load_section1">
          <a name="section1" class="section-anchor"></a>

          <div class="row">
      <div class="col-md-7" data-pos="left">
              <img src="/public/assets/img/img-0.png" class="img-responsive" />
            </div>
            <div class="col-md-5" data-pos="right">
              <h2>Easy to connect your team</h2>
              <p class="lead">Bring your team’s communication to a familiar workspace. 
              <br>Start collaborating right away.</p>
            </div>
            
          </div>
        </section>

        <section class="section section-animation" id="load_section2">
          <a name="section2" class="section-anchor"></a>

          <div class="row">
            <div class="col-md-5" data-pos="left">
              <h2>Optimized for Google Apps.</h2>
              <p class="lead">Web based tool for your team to get things done, and rejoice. Make full use of your Google Apps.</p>
            </div>
            <div class="col-md-7" data-pos="right">
              <img src="/public/assets/img/img-1.png" class="img-responsive" />
            </div>
          </div>
        </section>

        <section class="section section-animation" id="load_section3">
          <a name="section3" class="section-anchor"></a>

          <div class="row">
            <div class="col-md-7" data-pos="left">
              <img src="/public/assets/img/img-2.png" class="img-responsive" />
            </div>
            <div class="col-md-5" data-pos="right">
              <h2>Centralized communication.</h2>
              <p class="lead">Start discussion and comment on any topics, and get your team move forward. This is your team’s private social network.</p>
            </div>
          </div>
        </section>

        <section class="section section-animation" id="load_section5">
          <a name="section5" class="section-anchor"></a>
          
          <div class="row">
            <div class="col-md-5" data-pos="left">
              <h2>Third party. Supported.</h2>
              <p class="lead">You can use your own team’s apps. Jupo works with Google Apps, Drive, Dropbox and many more to come</p>
            </div>
            <div class="col-md-7" data-pos="right">
              <img src="/public/assets/img/img-4.png" class="img-responsive" />
            </div>
          </div>
        </section>

        <section class="section signup">
          <h1>Sign-up Now!</h1>
          <form class="form-inline" role="form" id='authenticate-with-google' action='/oauth/google' method="POST">
            <div class="form-group">
              <input id="email" type="text" name="email" class="form-control" placeholder="Enter you Google Apps mail here!" />
            </div>
            <button class="btn btn-success" type="submit">Get Started!</button>

            <input type="hidden" name="domain" value="{{ domain }}">
            <input type="hidden" name="call_from" value="landing">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          </form>
        </section>
    
      </div>
    </main>

    <footer id="colophon" class="site-footer" role="contentinfo">
      <div class="site-info container">
        {% if settings.MIXPANEL_TOKEN %}
        <p class="pull-left">
          <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics"></a>
        </p>
        {% endif %}
        <p class="pull-right">Copyright 2013 @ JUPO</p>
      </div>
    </footer>

  </div>

  <a id="back-to-top" class="scrollup icon-circle-arrow-up" href="#"></a>

  <script src="/public/assets/js/jquery.js"></script>
  <script src="/public/assets/js/bootstrap.js"></script>
  <script src="/public/assets/js/respond.js"></script>
  <script src="/public/assets/js/main.js"></script>
</body>
</html>