{% if messages %}
  {% if not messages[0].is_first_message() %}
  <li class="message more">
    <a href='/chat/{% if user %}user/{{ user.id }}{% else %}topic/{{ topic.id }}{% endif %}?ts={{ "%0.6f" % messages[0]._ts }}' class='more'>Load Earlier Messages</a>
  </li>
  {% endif %}
  
  {% set last_title = None %}
  {% if messages %}
    {% for message in messages %}
      {% if message.date != last_title %}
        <div class='title' title='{{ message.get_date(short=False) }}'>{% if message.is_first_message() %}Conversation started {% endif %}{{ message.date }}</div>
        {% set last_title = message.date %}
      {% endif %}
      
      {% include "message.html" %}
    {% endfor %}
  {% endif %}
  
  {% if not timestamp %} 
    {% if not messages or (messages and messages[-1].date != 'Today') %}
      <div class='title' title='Today'>Today</div>
    {% endif %}
  {% endif %}
{% elif timestamp %}
  <li class="message more">
    There are no more messages to show.
  </li>
{% endif %}
