
        <li class='message'>
          <div class='rfloat ts' data-timestamp='{{ message.timestamp }}'>
            {{ message.time }}
          </div>
          <a href='/user/{{ message.sender.id }}' title='{{ message.sender.name }}' class='async lfloat'> 
            <img class='small-avatar' src='{{ message.sender.avatar }}'> 
          </a>
          <div class='content'>
            {{ message.content | safe }}
          </div>
        </li>
      

















































































{#

<li class='message {% if messages %}history{% endif %}'>
    {% if message.is_file() %}
        {% if owner.id == message.sender.id %}
            <div class="bubbledRight {% if title and title != 'Today' %}greyBubbledRight{% endif %}" title='{{ message.timestamp | friendly_format(owner.utcoffset) }}'>
                <a href='/attachment/{{ message.message.id }}' target='_blank'>{{ message.message.name }} ({{ message.message.size }})</a>
            </div>
            <img src='{{ message.sender.avatar }}' class="avatar right"  title='{{ message.sender.name }}'/>
        {% else %}
            <div class="bubbledLeft {% if title and title != 'Today' %}greyBubbledLeft{% endif %}" 
                 title='{{ message.timestamp | friendly_format(owner.utcoffset) }}'>
                 
                 <a href='/attachment/{{ message.message.id }}' target='_blank'>
                    {{ message.message.name }} ({{ message.message.size }})
                 </a>
            </div>
            <img src='{{ message.sender.avatar }}' class="avatar left" title='{{ message.sender.name }}' />
        {% endif %}
    
    {% else %}
	    {% if owner.id == message.sender.id %}
    			<div class="bubbledRight {% if title and title != 'Today' %}greyBubbledRight{% endif %}" title='{{ message.timestamp | friendly_format(owner.utcoffset) }}'>{% autoescape on %}{{ message.message | autolink | autoemoticon }}{% endautoescape %}</div>
    			<img src='{{ message.sender.avatar }}' class="avatar right" title='{{ message.sender.name }}'/>
      {% else %}
          <div class="bubbledLeft {% if title and title != 'Today' %}greyBubbledLeft{% endif %}" title='{{ message.timestamp | friendly_format(owner.utcoffset) }}'>{% autoescape on %}{{ message.message | autolink | autoemoticon }}{% endautoescape %}</div>
          <img src='{{ message.sender.avatar }}' class="avatar left" title='{{ message.sender.name }}' />
      {% endif %}
    {% endif %}
</li>

#}