

<div id="page-header">
  
        <div class="actions rfloat">
            <a href="/contacts" class="async button">+ New Message</a>
        </div>
        <div class='title'>Messages</div>
  
</div> 
    
<ul class="messages clearfix">
  
  {% for message in messages %}
    {% if message.sender.id == owner.id %}
      {% set user = message.receiver %}
    {% else %}
      {% set user = message.sender %}
    {% endif %}
    <li>
      <a href='/chat/{{ user.id }}' class='chat {% if message.is_unread() %}unread{% endif %}'>
        <img class='small-avatar lfloat' src='{{ user.avatar }}' />
        <div class='title'>
          {{ user.name }} <i class='{{ user.status }}' title='{{ user.last_online | friendly_format(owner.utcoffset) }}' ></i>
        </div>

        
        <div class='message'>
          
          {% if message.sender.id == owner.id %}
            <i class='msg-reply-icon'></i>
          {% endif %}
          {{ message.content | autoemoticon | autolink }}
        </div>
      </a>
    </li>
  {% endfor %}

</ul>
  
  

<div id="right-sidebar">

{% autoescape on %}  
  {% cache "suggested_friends:%s:%s" % (owner.id, owner.contact_ids | length), 86400 %}
    {% include "suggested_friends.html" %}
  {% endcache %}
{% endautoescape %}

</div>




