

{% if view == 'notes' %}
  <form class="new">
    <table>
      <tbody>
        <tr id='notes'>
          <td>
            <a href='#!/note/new' class='overlay'>+ Create a new note</a>
          </td>
        </tr>
      </tbody>
    </table>
  </form> 


{% elif view in ['discover', 'news_feed', 'group', 'user', 'new_message', 'messages'] %}
  <form id='new-feed' action='/{% if view == "docs" %}doc{% elif view == "bookmarks" %}bookmark{% else %}feed{% endif %}/new?rel={{ view }}' method='post' class="new {% if view == 'new_message' %}new-message{% endif %}">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

  <table>
    <tbody>
      <tr id='message'>
        <td colspan="2">
          <textarea {% if view == 'docs'%}name='content' class='watermark'{% else %}class='mention'{% endif %}
                    placeholder="{% if view == 'docs' %}
 + New note...
{% elif view == 'discover' or (group and group.id == 'public') %}
Share something with everyone...  
{% elif view == 'news_feed' %}
Write a message...
{% elif view == 'user' %}
Leave a private message...
{% else %}
Leave a message...
{% endif %}" required {% if view in ['new_message', 'user'] %}autofocus{% endif %}></textarea>
          <div class='uploading-warning'>Uploading attachments...</div>
          <textarea class='hidden marked-up'
                    name='message'></textarea>
        </td>
      </tr>
      
      <tr id='send-to' class='toggle hidden'>
        <td colspan="2">
        	
        	<!--<a href='/contacts?from=posting' class='popup' style="float: right; vertical-align: middle;">CONTACTS</a>-->
          <a href='/contacts?from=posting' class='select-contacts popup rfloat'>
            <i class='send-to-icon'></i>
          </a>
          <input type='text' 
                 name='viewers' 
                 class='autocomplete'
                 {% if group %}
                  data-prefill='[{name: "{{ group.name }}", id: "{{ group.id }}"},]'
                 {% elif user %}
                  data-prefill='[{name: "{{ user.name }}", id: "{{ user.id }}"},]'
                 {% endif %}
                 
                 placeholder='To:'>
                 
        </td>
        {#
        <td>
          <input type='text' 
                 name='tags' 
                 class='autocomplete tags'
                 placeholder='Add tag...'>
        </td>
        #}
      </tr>
      
{#   
      {% if view not in ["docs", "bookmarks"] %}
      <tr id='focus' class='toggle hidden'>
        <td colspan="2">  
            <div class='radio'>
              <input id='urgent' type='radio' name='priority' value='1' />
              <label for='urgent' title='Task that are perceived as being urgent and important'>Urgent</label>
            </div>
            
            
            <div class='radio'>
              <input id='important' type='radio' name='priority' value='2' />
              <label for='important' title='Task that are important but not urgent'>Important</label>
            </div>
            
            
            <div class='radio'>
              <input id='normal' type='radio' name='priority' value='3' {% if view == 'focus' %}checked{% endif %} />
              <label for='normal' title='Task that are neither urgent nor important'>Normal</label>
            </div>
            
        </td>
      </tr>
      {% endif %}
#}
      <tr id='attach' class='toggle hidden'>
        <td colspan="2">   
          <div class='file-chooser'>      
            <a id='pick-file'>
              <i></i>
              From Your Computer
            </a> 
            <a class='dropbox-chooser'>
              <i></i>
              From Your Dropbox
            </a> 
            <a class='google-drive-chooser' id='google-drive-chooser'>
              <i></i>From Google Drive
            </a>
          </div> 
          <div class="upload-status"></div>
          <div id="container">
            <div id="filelist"></div>
          </div>  
          <div id="attachments" class='hidden'></div>
        </td>
        
        
        <script>
            
        </script>
        
        
      </tr>
    </tbody>
  </table>
  
  <footer {% if view != 'new_message' %}class='hidden'{% endif %}>
    <input type='hidden' name='attachments'>
     
    <a id='send-to' title='Share with (people or group)...' class='send-to-icon lfloat'></a>
    <!-- <a id='send-to' href="/contacts?from=posting" title='Select from your contacts' class='send-to-icon lfloat popup'></a> -->

    
{#    
    {% if view not in ["docs", "bookmarks", "discover"] %}
    <a id='focus' title='Set priority' class='task-icon lfloat'></a>
    {% endif %}
#}    
    <a id='attach' title='Add Files' class='attachment-icon lfloat'></a>

    
    {% if view in ["docs", "bookmarks"] %}
      <input type='submit' value="Publish" class='button small-button'>
    {% elif view in ['user', 'new_message'] %}
      <input type='submit' value="Send" class='button small-button'>
    {% else %}
      <input type='submit' value="Share" class='button small-button' tabindex="0">
    {% endif %}
  </footer>
    
</form>
{% endif %}


{% if view == "new-group" %}
  <div id="page-header" class='group'>
          <h2>Create New Group</h2>
  </div>  
  
  <form action='/group/new' method='post' class="new-group group">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
  
  
  <table>
    <tbody>

      
      <tr id='name'>
        <td>
          <input title="Name the group" type="text" name="name" class='title' required placeholder="Name the group" value='{% if name %}{{ name }}{% else %}Name the group{% endif %}'/>
          
       </td>
     </tr>  



     <tr>
       <td>
          <textarea name='about' title='Description (optional)'
                    placeholder="Description (optional)">{% if description %}{{ description }}{% endif %}</textarea>
        </td>
      </tr>
  
          
           <tr>
       <td> 
          <label><strong>Who can view group's content?</strong></label> 
          <div class='privacy'>
            <div>
              <label for='open-group'>
                <input id='open-group' type='radio' name='privacy' value='open' checked>
                Anyone
              </label>
            </div>
            
            
            <div>
              <label for='closed-group'>
                <input id='closed-group' type='radio' name='privacy' value='closed'>
                Only approved members
              </label>
            </div>
   {#         
            <div class='radio'>
              <input id='secret-group' type='radio' name='privacy' value='secret'/>
              <label for='secret-group'>
                Secret <i class='ghost-icon' title='Only members see the group, who is in it, and what members post.'></i>
              </label>
            </div>
    #}        
          </div>
          
          <input type='hidden' name='privacy' value='closed'>
       </td>
     </tr>   

    </tbody>
  </table>
  
  <footer>    
    <input type='submit' value="Start the group" class='button rfloat'> <a onclick='close_popup();' class='close rfloat'>Cancel</a>
  </footer>
  

  <script type='text/javascript'>
  $(document).ready(function () {
    
      $('form.group textarea').elastic();
      
      setTimeout(function() {
        {% if name %}
          $('form.group textarea').focus().select();
        {% else %}
          $('form.group #name input').focus().select();
        {% endif %}
      }, 1);
  });
  </script>
  
  

    
</form>

{% elif view == "new-network" %}
  <div id="page-header">
          <h2>New Network</h2>
  </div>  
  
  <form action='/network/new' method='post' class="new-network group">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
  <table>
    <tbody>

      
      <tr id='name'>
        <td>
          <input title="Name the network" type="text" name="name" class='title' required placeholder="Name the network" value='Name the network'/>
          
       </td>
     </tr>  



     <tr>
       <td>
          <textarea name='about' 
                    placeholder="Description (optional)"></textarea>
        </td>
      </tr>
  
     
    </tbody>
  </table>
  
  <footer>    
    <br>
    <input type='submit' value="Start the network" class='button'> or <a onclick='close_popup();'>Cancel</a>
  </footer>
  

  <script type='text/javascript'>
  $(document).ready(function () {
    
      $('form.network textarea').elastic();
      
      setTimeout(function() {
        $('form.network #name input').focus().select();
      }, 1);
  })
</script>

    
</form>


{% elif view == 'files' %}
  <form id='new-file' action='/file/new' method='post' class="new">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <table>
      <tbody>
        <tr id='files'>
          <td>
            <a id='pick-file' class='lfloat' onclick="preload_autocomplete()"><i class="upload-icon"></i> Upload new file</a>
              <script>
                {% if group and group.id %}
                  $('form#new-file footer, form#new-file #send-to').removeClass('hidden');
                {% endif %}
              </script>
           
            <div id="container">
              <div id="filelist"></div>
            </div>  
            <div id="attachments"></div>
            
            <div class='uploading-warning'>Uploading attachments...</div>
          </td>
        </tr>
        
        <tr id='send-to' class='toggle hidden'>
          <td>
            <div class="upload-status"></div>
            
            <input type='text' 
                   name='viewers' 
                   class='autocomplete'
                   {% if group and group.id %}
                    data-prefill='[{name: "{{ group.name }}", id: "{{ group.id }}"},]'
                   {% endif %}
                   placeholder='Add people or group...'>
            
          </td>
        </tr>
        
      </tbody>
    </table>
    
    <footer class="hidden">
      <input type='hidden' name='attachments'>
      <a id="send-to" title="Share with (people or group)..." class="send-to-icon lfloat active"></a>
	
      <input type='submit' value="Publish" class='button small-button'>
    </footer>

  </form> 
  
{% endif %}


