
{% if mode == 'view' %}

  
  <div id="page-header"></div>
  
  {% include 'note.html' %}
  
    
{#
  {% autoescape on %}
    {{ note | render("note", owner, view, mode, 
                    action=action, revision=revision, recents=recents, content=content, request=request) }}             
  {% endautoescape %}      
#}
  

{% elif mode == 'edit' %}
  <div id="page-header"></div>
  
    <form action='{% if note %}/note/{{ note.id }}/update{% else %}/note/new{% endif %}' method='post' class="new overlay note lfloat" id='edit-note'>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <table>
        <tbody>
          <tr id='title'>
            <td>
              <input class='title' name='title' value="{% if note.title %}{{ note.title }}{% else %}New Note{% endif %}" placeholder="Untitled Note" autofocus>
            </td>
          </tr>
          <tr id='message'>
            <td>
              <textarea id='wysihtml5' name='content' placeholder="Content" required></textarea>
              <div class='hidden' id='init'>
                {{ note.raw_content | sanitize | safe }}
              </div>
              <div class='uploading-warning'>Uploading attachments...</div>
            </td>
          </tr>
          
          <tr id='send-to' class='toggle hidden'>
            <td>
              <input type='text'
                     name='viewers' 
                     class='autocomplete'
                     placeholder='Add more people...'>
            </td>
          </tr>
          
          <tr id='attach' class='toggle hidden'>
            <td>
              <div class="upload-status"></div>
              <div id="container">
                <div id="filelist"></div>
              </div>  
              <div id="attachments">
                {% for attachment in note.attachments %}
                  {% include 'attachment.html' %}
                {% endfor %}
              </div>
            </td>
            
          </tr>
        </tbody>
      </table>
      
      <footer class='hidden'>
        <input type='hidden' name='attachments' {% if note.attachments %}value="{% for attachment in note.attachments %}{{ attachment.id }},{% endfor %}"{% endif %}>
        
        <a id='send-to' title='Add more people' class='send-to-icon lfloat'></a>
        
        <a id='pick-file' title='Add Files' class='attachment-icon lfloat'></a>
            
        <input type='submit' value="Publish" class='button small-button' tabindex="0">
      </footer>
        
    </form>
    
    <div id="right-sidebar">
      <div class="box" id='tips'>
        <div class="header">
          <div class="title">Tips - Keyboard shortcuts</div>
        </div>
        <div class="body">
          <ul>
            <li><strong>Ctrl+B</strong>: Bold</li>
            <li><strong>Ctrl+I</strong>: Italic</li>
            
          </ul>
          
        </div>
      </div>
    </div>
    
    
    {% include "wysihtml5_toolbar.html" %} 
      
      <script src="/public/scripts/wysihtml5-0.3.0.min.js?v1" type="text/javascript"></script>
    
      <script type='text/javascript'>
      
        var wysihtml5ParserRules = {
          tags: {
            h3:     {},
            strong: {},
            b:      {},
            i:      {},
            u:      {},
            em:     {},
            ul:     {},
            ol:     {},
            li:     {},    
            pre:    {},
            code:   {},   
            strike: {},    
            p:      {},      
            br: {"add_class": {"clear": "clear_br"}},
            "a": {
                "check_attributes": {
                    "href": "url" // if you compiled master manually then change this from 'url' to 'href'
                },
                "set_attributes": {
                    "rel": "nofollow",
                    "target": "_blank"
                }
            },
          }
        };
      
      
        $(document).ready(function () {   
          
          {% set viewers = note.viewers | exclude(owner.id) %}         
          members =     [
                    {% if viewers %}
                      {% for i in viewers %}
                        {name: "{{ i.name }}", id: "{{ i.id }}"},
                      {% endfor %}
                    {% endif %}
                     ];

            
          $("div#overlay input[name='viewers']").tokenInput('/autocomplete', {
              searchDelay: 300,
              preventDuplicates: true,
              queryParam: 'query',
              hintText: 'Add people...',
              animateDropdown: false,
              allowEmail: true,
              noResultsText: null,
              searchingText: null,
              resultsFormatter: function(item) {
                  return "<li><img class='" + item.type + "' src='" + item.avatar + "'>" + item.name + "</li>" 
              },
              prePopulate: members,
           });
                     

            
            
            wysihtml5.commands.formatCode = {
              exec: function(composer) {
                var pre = this.state(composer);
                if (pre) {
                  // caret is already within a <pre><code>...</code></pre>
                  composer.selection.executeAndRestore(function() {
                    var code = pre.querySelector("code");
                    wysihtml5.dom.replaceWithChildNodes(code);
                    if (code) {
                      wysihtml5.dom.replaceWithChildNodes(pre);
                    }
                  });
                } else {
                  // Wrap in <pre><code>...</code></pre>
                  var range = composer.selection.getRange(),
                      selectedNodes = range.extractContents(),
                      pre = composer.doc.createElement("pre"),
                      code = composer.doc.createElement("code");
                  pre.appendChild(code);
                  code.appendChild(selectedNodes);
                  range.insertNode(pre);
                  composer.selection.selectNode(pre);
                }
              },
              state: function(composer) {
                var selectedNode = composer.selection.getSelectedNode();
                return wysihtml5.dom.getParentElement(selectedNode, { nodeName: "CODE" }) && wysihtml5.dom.getParentElement(selectedNode, { nodeName: "PRE" });
              }
            };
           
           
           var editor = new wysihtml5.Editor("wysihtml5", { // id of textarea element
              toolbar:      "wysihtml5-toolbar", // id of toolbar element
              parserRules:  wysihtml5ParserRules, // defined in parser rules set
              stylesheets: ["/public/styles/wysihtml5_iframe.css?v1"] 
            });
                         
            
            
           setTimeout(function() {
              $('form.note input.title').focus().select();
              $('form.note footer').removeClass('hidden');
              
              {% if note.id %}
                editor.setValue($('#init').html(), true);
              {% else %}
                editor.setValue("Content", true);
              {% endif %}
              
           }, 100)
           
           
           
        })
      </script>


  
{% elif mode == 'compare' %}
  <div id="page-header">
      <div>
          <h2>
              <span class="img notes-icon"></span>
              <span>Compare</span>
              {% if category %}
                <span class='arrow'>&#10513;</span> {{ category | title }}
              {% endif %}
          </h2>
      </div>
  </div>

  <div id='changes'>
    {% autoescape on %}
      {{ note.content | sanitize }}
    {% endautoescape %}
  </div>
  
  
{% else %}  
  <div id="page-header"></div>

  {% include 'new.html' %}
  
  <ul id="stream" class='notes'>
      {% if notes == [] %}
          <span class="empty">
            Write about whatever you want.
          </span>
      {% else %}            
          {% for note in notes %}
            {% autoescape on %}
              {{ note | render("note", owner, view, request=request)}}
            {% endautoescape %}
          {% endfor %}
              
          {% if notes | length == 5 %}
            {% if category %}
                {% set more_url = '/notes/' + category + '/page2' %}
            {% else %}
                {% set more_url = '/notes/page2' %}
            {% endif %}
            
            {% include 'more.html' %}
          {% endif %}
      {% endif %}
  </ul>
{% endif %}

<div id="right-sidebar">
  {% if mode and mode != 'edit' and not note.is_official() %}
  
    <div class="box">
      <div class="header">
        <div class="title">History</div>
      </div>
      <div class="body" id='history'>
        <ul>          
          {% set version_count = note.version | length %}
          
          {% if version < 2 %}
            {% set index = 2 %}
          {% elif version > (version_count - 1) %}
            {% set index = version_count - 1 %}
          {% else %}
            {% set index = version %}
          {% endif %}
          
          
          {% for item in note.version[index-2:index+1] %}
          <li class='{% if (version_count - loop.index) == version %}current{% endif %}'>
            <a href='/note/{{ note.id }}/v{{ version_count - loop.index }}' class="async">
              <img class="small-avatar lfloat" src="{{ item.owner.avatar }}">
              <div class="title">{{ item.owner.name }}</div>
              
              <div class='info'>
                Saved <time title='{{ item.timestamp | friendly_format(owner.utcoffset) }}' datetime='{{ item.timestamp | isoformat(owner.utcoffset) }}'>{{ item.timestamp | friendly_format(owner.utcoffset, short=True) }}</time>
              </div>
              <!-- <span class='info'>(by {{ item.owner.name }})</span> -->
<!--               <span class='saved'>Saved</span> <time class='timeago' title='{{ item.timestamp | friendly_format(owner.utcoffset) }}' datetime='{{ item.timestamp | isoformat(owner.utcoffset) }}'>{{ item.timestamp | friendly_format(owner.utcoffset, short=True) }}</time> -->
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
    {% set seen_by = note.seen_by %}
    {% if seen_by %}     
    <div class="box">
      <div class="header">
        
        <div class="actions rfloat">
          <a href='/feed/{{ note.id }}/read_receipts' class='popup'>See All</a>
        </div>
        
        <div class="title"><strong>Last Seen</strong></div>
      </div>
      <div class="body">
        <ul>
          {% for receipt in seen_by[:5] %}
            <li>
              <a href='/user/{{ receipt.user.id }}' class='async'>
                <img class='small-avatar lfloat' src='{{ receipt.user.avatar }}' />
                <div class='title'>{{ receipt.user.name }}</div>
                <time class='timeago' title='{{ receipt.timestamp | friendly_format(owner.utcoffset) }}' datetime='{{ receipt.timestamp | isoformat(owner.utcoffset) }}'>{{ receipt.timestamp | friendly_format(owner.utcoffset, short=True) }}</time>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

{#    
    {% if recents %}
    <div class="box">
      <div class="header">
        <div class="actions rfloat"><a href='#'>See All</a></div>
        <div class="title">Recent Notes</div>
      </div>
      <div class="body" id='notes'>
        <ul>
          {% for note in recents %}
          <li>
            <a class='async' href='/note/{{ note.id }}'>
              <div class='title'>{{ note.title | clean | truncate(75, True) }}</div>
              <time class='timeago' title='{{ note.timestamp | friendly_format(owner.utcoffset) }}' datetime='{{ note.timestamp | isoformat(owner.utcoffset) }}'>{{ note.timestamp | friendly_format(owner.utcoffset, short=True) }}</time>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
 
#}  
 
  {% elif reference_notes %}
  
    <div class="box">
      <div class="header">
        <div class="actions rfloat"><a href='#'>See All</a></div>
        <div class="title">Reference Notes</div>
      </div>
      <div class="body">
        <ul>
          {% for note in reference_notes %}
          <li>
            <a class='async' href='/note/{{ note.id }}'>
              <div class='title'>{{ note.title | clean | truncate(75, True) }}</div>
              <time class='timeago' title='{{ note.timestamp | friendly_format(owner.utcoffset) }}' datetime='{{ note.timestamp | isoformat(owner.utcoffset) }}'>{{ note.timestamp | friendly_format(owner.utcoffset, short=True) }}</time>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div> 
  
  {% endif %}
  
  
</div>
