
{% set msg_count = messages | length %}
{% cache "%s:notification:%s:%s:%s" % (owner.id, key, msg_count, messages[0].is_unread() )%}

<li>  
  {% if msg_count == 1 %}
    {% set message = messages[0] %}
  
    {% if key.startswith('message:') %}
      <a href='#!/notification/{{ message.id }}?continue=/feed/{{ message.ref_id }}' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>
        <span class='username'>{{ message.sender.name }}</span> shared a post with you: "{% autoescape on %}{{ message.item.message | clean| to_text | truncate(90, True) | autoemoticon | sanitize }}{% endautoescape %}"
      
    {% elif key.startswith('mention:') %}
      <a href='#!/notification/{{ message.id }}?continue=/feed/{{ message.ref_id }}' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>
        <span class='username'>{{ message.sender.name }}</span> mentioned you in a comment: 
        "{{ message.item.message | clean | to_text | truncate(90, True) | autoemoticon | fix_unclosed_tags | sanitize | safe }}"
      
    {% elif key.startswith('follow:') %}
      <a href='#!/notification/{{ message.id }}?continue=/user/{{ message.sender.id }}' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>
        <span class='username'>{{ message.sender.name }}</span> is now following you.
      
    {% elif key.startswith('like:') %}
      <a href='#!/notification/{{ message.id }}?continue=/feed/{{ message.ref_id }}' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>
        <span class='username'>{{ message.sender.name }}</span> likes your {% if message.comment_id %}comment{% else %}post{% endif %}: "{% autoescape on %}{{ message.item.message | clean | to_text  | truncate(90, True) | autoemoticon | sanitize | fix_unclosed_tags }}{% endautoescape %}"
      
      
    {% elif key.startswith('update:') %}
      <a href='#!/notification/{{ message.id }}?continue=/note/{{ message.ref_id }}' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>
        <span class='username'>{{ message.sender.name }}</span> updated 
           
        note "{% autoescape on %}{{ message.item.message | clean | to_text | truncate(90, True) | autoemoticon | sanitize }}{% endautoescape %}"
      
    
    {% elif key.startswith('facebook_friend_just_joined:') %}
        
      <a href='#!/notification/{{ message.id }}?continue=/user/{{ message.sender.id }}' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>     
        <span class='username'>{{ message.sender.name }}</span> (your Facebook friend) just joined Jupo.
      
    {% elif key.startswith('google_friend_just_joined:') %}
        
      <a href='#!/notification/{{ message.id }}?continue=/user/{{ message.sender.id }}' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>     
        <span class='username'>{{ message.sender.name }}</span> (your Google contact) just joined Jupo.
      
    {% elif key.startswith('friend_just_joined:') %}
        
      <a href='#!/notification/{{ message.id }}?continue=/user/{{ message.sender.id }}' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>     
        <span class='username'>{{ message.sender.name }}</span> ({{ message.sender.email }}) just joined Jupo.
        Go and say welcome to {{ message.sender.name }}

    {% elif key.startswith('import_completed:') %}

      <a href='#!/notification/{{ message.id }}?continue=/user/{{ message.sender.id }}' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>
        We just finished importing your data. Please check it out :)
      
    {% elif key.startswith('comment:') %}
      <a href='#!/notification/{{ message.ref_id }}-comments?continue=/feed/{{ message.ref_id }}' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>
        <span class='username'>{{ message.sender.name }}</span> commented on 
        
        {% if message.item.owner.id == message.sender.id %}
          a
        {% elif message.item.owner.id == owner.id %}
          your
        {% else %}
          {{ message.item.owner.name }}'s
        {% endif %} 
        
        post: "{% autoescape on %}{{ message.item.message | clean | to_text | truncate(90, True) | autoemoticon | fix_unclosed_tags | sanitize }}{% endautoescape %}"
      
    {% elif key.startswith('add_contact:') %}
      <a href='#!/notification/{{ message.id }}?continue=/user/{{ message.sender.id }}' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>     
        <span class='username'>{{ message.sender.name }}</span> added you to {% if message.sender.gender == 'female' %}her{% else %}his{% endif %} contact list
      
    {% elif key.startswith('make_admin:') %}
      {% if message.ref_id == 'public' %}
      <a href='#!/notification/{{ message.id }}?continue=/everyone' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>     
        <span class='username'>{{ message.sender.name }}</span> made you an administrator of the network {{ message.details.name }}.
      {% else %}
      <a href='#!/notification/{{ message.id }}?continue=/group/{{ message.ref_id }}' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>     
        <span class='username'>{{ message.sender.name }}</span> made you an administrator of the group {{ message.details.name }}.
      {% endif %}
      
    {% elif key.startswith('add_member:') %}
      <a href='#!/notification/{{ message.id }}?continue=/group/{{ message.ref_id }}' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>     
        <span class='username'>{{ message.sender.name }}</span> added you to the group <strong>{{ message.details.name }}</strong>.
      
    {% elif key.startswith('new_user:') %}
      <a href='#!/notification/{{ message.id }}?continue=/user/{{ message.sender.id }}' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='/public/images/wall-e.png' class='lfloat small-avatar'>     
        <strong>{{ network.name }}</strong> has a new user: <span class='username' title='{{ message.sender.email }}'>{{ message.sender.name }}</span>.
        Go and say welcome to {{ message.sender.name }}
        
    {% elif key.startswith('new_member:') %}
      <a href='#!/notification/{{ message.id }}?continue=/group/{{ message.ref_id }}' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>     
        The group <strong>{{ message.details.name }}</strong> has a new member: <span class='username' title='{{ message.sender.email }}'>{{ message.sender.name }}</span>.
        Go and say welcome to {{ message.sender.name }}
        
    {% elif key.startswith('approved:') %}
      <a href='#!/notification/{{ message.id }}?continue=/group/{{ message.ref_id }}' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>     
        <span class='username' title='{{ message.sender.email }}'>{{ message.sender.name }}</span> approved your request to join the group {{ message.details.name }}.
        
    {% elif key.startswith('ask_to_join:') %}
      <a href='#!/notification/{{ message.id }}?continue=/group/{{ message.ref_id }}' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>     
        <span class='username' title='{{ message.sender.email }}'>{{ message.sender.name }}</span> asked to join <strong>{{ message.details.name }}</strong>.
        
    {% elif key.startswith('new_network:') %}
      <a href='#!/notification/{{ message.id }}?continue=http://{{ message.details.domain }}/' class='notification {% if  message.is_unread() %}unread{% endif %}'>
        <img src='/public/images/wall-e.png' class='lfloat small-avatar'>     
        A new network named <strong>{{ message.details.name }}</strong> is created.
    {% endif %} 
    
    <br>
    <time title='{{ message.timestamp | friendly_format(owner.utcoffset) }}' datetime='{{ message.timestamp | isoformat(owner.utcoffset) }}'>{{ message.timestamp | friendly_format(owner.utcoffset, short=True) | split(' at ') | last }}</time>
    
    
  </a>
    
  {% else %}
    
    <a href='#!/post/{{ messages[-1].id }}/mark_as_read?continue={% if messages[-1].type in ['follow', 'add_contact', 'google_friend_just_joined', 'facebook_friend_just_joined'] %}/user/{{ messages[-1].sender.id }}{% else %}/feed/{{ messages[-1].ref_id }}{% endif %}' class='notification {% if  messages[-1].is_unread() %}unread{% endif %}'>
      <img src='{{ messages[0].sender.avatar }}' class='lfloat small-avatar'>     
      
      {% if msg_count == 2 %}
      
        <span class='username'>{{ messages[0].sender.name }}</span> and
        <span class='username'>{{ messages[1].sender.name }}</span>
      
      {% else %}
      
        <span class='username'>{{ messages[0].sender.name }}</span> and 
        <span class='username'>{{ msg_count - 1 }} others</span>
        
      {% endif %}
      
      
      {% if key.startswith('comment') %}
      
        commented on 
        
        {% if messages[0].details.owner.id == owner.id %}
        
          your
        
        {% elif messages[0].sender.gender and messages[0].details.owner.id == messages[0].sender.id %}
          
          {% if messages[0].sender.gender == 'male' %}
            his
          {% else %}
            her
          {% endif %}
          
        {% else %}
          <span class='username'>{{ messages[0].details.owner.name }}</span>'s
        {% endif %} post.
      
      {% elif key.startswith('like') %}
        like your 
        {% if messages[0].item.comment_id %}
          comment: "{{ messages[0].item.message | clean | to_text | truncate(90, True) | autoemoticon | fix_unclosed_tags | sanitize | safe }}"
        {% else %}
          post: "{{ messages[0].item.message | clean | to_text | truncate(90, True) | autoemoticon | fix_unclosed_tags | sanitize | safe }}"
        {% endif %}
      
      {% elif key.startswith('add_contact') %}
          added you to their contact list
          
      {% elif key.startswith('google_friend_just_joined:') %}
          (your Google contact) just joined Jupo.
      
      {% elif key.startswith('facebook_friend_just_joined:') %}
          (your Facebook friend) just joined Jupo.
          
      {% elif key.startswith('follow:') %}
          is now following you
      {% elif key.startswith('mention:') %}
          mentioned you in a post
      {% endif %}
      
      <br>
      <time title='{{ messages[-1].timestamp | friendly_format(owner.utcoffset) }}' datetime='{{ messages[-1].timestamp | isoformat(owner.utcoffset) }}'>{{ messages[-1].timestamp | friendly_format(owner.utcoffset, short=True) | split(' at ') | last }}</time>
    
    
    </a>
    
  {% endif %}  
     
</li>

{% endcache %}
