<header>
  {% if notifications %}
    <a href='/notifications/mark_as_read' class='notification rfloat'>Clear New</a>
  {% endif %}
  
  <span class="rfloat updating hidden">Updating...</span>
  
  <strong>Notifications</strong>
</header>


  {% if not notifications and not unread_messages %}
  
    <ul>
       <span class="empty">You have no new notifications</span> 
    </ul> 
    
  {% else %}
 
    <ul> 
      
        {% if unread_messages %}
          {% for message in unread_messages %}
            <li>  
              <a href='/chat/{{ message.sender.id }}' class='chat'>
                <img src='{{ message.sender.avatar }}' class='lfloat small-avatar'>    
                <span class='username'>{{ message.sender.name }}</span><br>
                <span class='info'>{{ message.unread_count }} unread chat messages</span>
             
              </a>
            </li>
          {% endfor %}
        {% endif %}
      
        {% autoescape on %}
            
          {% for title, items in notifications.iteritems() %}
              <h3>{{ title | upper }}</h3>
              
              {% for key, messages in items.iteritems() %}
                  {% if messages %}
                    {% include "notification.html" %}
                  {% endif %}
                
                {#
                  {{ messages | render('notification', owner) }}
                #}
              {% endfor %}
            
          {% endfor %}
        
        {% endautoescape %}
        
            
    </ul>
  {% endif %} 
