
  
  <div id="page-header" class='border-bottom'>
    
          <div class="actions rfloat">
              <a href="/search?type=people" class="popup button">New Contact</a>
          </div>
          <div class='title'>Contacts</div>
    
  </div> 
      
  <ul class="contacts clearfix">
    
      {% for user in owner.contacts %}
        {% if user.id %}
            <li>
              <a href='/chat/{{ user.id }}' class='chat'>
                <img class='small-avatar lfloat' src='{{ user.avatar }}' />
                <div class='title'>
                  {{ user.name }} <i class='{{ user.status }} user-{{ user.id }}-status'></i>
                </div>
                {% set last_online = user.last_online %}
                {% if last_online %}
                 <time class='timeago' title='{{ last_online | friendly_format(owner.utcoffset) }}' datetime='{{ last_online | isoformat(owner.utcoffset) }}'>{{ last_online | friendly_format(owner.utcoffset, short=True) }}</time>
                {% else %}
                  &nbsp;
                {% endif %}
              </a>
            </li>
        {% endif %}
      {% endfor %}
  
  </ul>
  
  

{#

  <div id="page-header" class='border-bottom'>
    
          <div class="actions rfloat">
             <a href="/group/new" class="popup button">New Group</a>
          </div>
          <h2>Co-workers</h2>
    
  </div> 
  
    
  <ul class="contacts">
      {% for user in coworkers %}
        {% if user.id not in owner.contact_ids %}
            <li>
              <a href='/user/{{ user.id }}' class='async'>
                <img class='small-avatar lfloat' src='{{ user.avatar }}' />
                <div class='title'>
                  {{ user.name }} <i class='{{ user.status }} user-{{ user.id }}-status'></i>
                </div>
                {% set last_online = user.last_online %}
                {% if last_online %}
                 <time class='timeago' title='{{ last_online | friendly_format(owner.utcoffset) }}' datetime='{{ last_online | isoformat(owner.utcoffset) }}'>{{ last_online | friendly_format(owner.utcoffset, short=True) }}</time>
                {% else %}
                  &nbsp;
                {% endif %}
              </a>
            </li>
        {% endif %}
      {% endfor %}
  </ul>
#} 











<div id="right-sidebar">
  
  



{% autoescape on %}  
  {% cache "suggested_friends:%s:%s" % (owner.id, owner.contact_ids | length), 86400 %}
    {% include "suggested_friends.html" %}
  {% endcache %}
{% endautoescape %}



</div>




