{% extends 'base.html' %}

{% block title %}
  {{ title | to_text }}
{% endblock %}

{% block header %}{% endblock %}


{% block meta %}
  <meta property="og:type" content="fire-works:post" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:url" content="{{ request.url }}" />
  {% if description %}
    <meta property="og:description" content="{{ description }}" />
  {% endif %}
  {% if image %}
    <meta property="og:image" content="{{ image }}" />
  {% endif %}
{% endblock %}




{% block global %}
  {% if note %}
    <div id="body" class='note'>    
        {% include 'note.html' %}
      
      <div class='float'>
        <a href='/' class='async'><img src='/public/images/logo/jupo-full.png'></a>
        <br>
        {% if not owner or not owner.id %}
        <a href='/sign_in'>Sign in</a> or 
        <a href='/sign_up'>create an account</a> to post comments.
        {% endif %}
      </div>
    </div>
  {% else %}
    <div id="body" class='post'>    
      {% set view = 'post' %}
      {% set mode = 'view' %}
      
      {% include 'feed.html' %}
      
      <div class='float'>
        <a href='/' class='async'><img src='/public/images/logo/jupo-full.png'></a>
        <br>
        {% if not owner or not owner.id %}
        <a href='/{{ network }}'>Sign in</a> or 
        <a href='/{{ network }}'>create an account</a> to post comments.
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block stylesheets %}

  {% assets filters="cssmin", 
            output="post.css",
            "styles/normalize.css",
            "styles/animations.css",
            "styles/icons.css",
            "styles/home.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %} 

{% endblock %}

{% block top_scripts %}

  <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
  <script type='text/javascript' src="/public/scripts/google-code-prettify/prettify.js"></script>
  <script src="https://www.google.com/jsapi?key={{ settings.GOOGLE_API_KEY }}"></script>
  <script src="https://apis.google.com/js/client.js"></script>
  <script src="/public/scripts/googledrive.filepicker.js"></script>
  
  <script>
    GOOGLE_API_KEY = '{{ settings.GOOGLE_API_KEY }}';
    GOOGLE_CLIENT_ID = '{{ settings.GOOGLE_CLIENT_ID | replace(".apps.googleusercontent.com", "") }}';
  </script>
  
  {% assets filters="jspacker", 
            output="lib.js",
            'scripts/disable_console_log.js',
            'scripts/detect_timezone.min.js',
            'scripts/plupload.js',
            'scripts/plupload.html5.js',
            'scripts/jquery.elastic.js',
            'scripts/underscore-min.js',
            'scripts/jquery.mentions.js',
            'scripts/jquery.notice.js',
            'scripts/jquery.idle-timer.js',
            'scripts/jquery.tokeninput.js',
            'scripts/jquery.tipsy.js',
            'scripts/jquery.timeago.js',
            'scripts/jquery.titlealert.js',
            'scripts/functions.js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
      
   <script type='text/javascript'>
      if (typeof $.global === 'undefined') {
        $.global = {};
      }         
      
   </script>
   

{% endblock %}


{% block bottom_scripts %}

  <script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropins.js" id="dropboxjs" data-app-key="{{ settings.DROPBOX_APP_KEY }}"></script>
  
  {% assets filters="jspacker", 
            output="post.js",
            "scripts/main.js" %}
            
           <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %} 
  
     
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-39400415-1', 'jupo.com');
    ga('send', 'pageview');
  
  </script>
   


  <script id="IntercomSettingsScriptTag">
    window.intercomSettings = {
      // TODO: The current logged in user's email address.
      email: "{{ owner.email }}",
      // TODO: The current logged in user's sign-up date as a Unix timestamp.
      created_at: {{ owner.created_at }},
      app_id: "7e4f0ed896cd548b9f3a1c6d12d8aa468ba44f6c"
    };
  </script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://api.intercom.io/api/js/library.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}};})()</script>



  
  
  
{% endblock %}

  

  