{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block header %}{% endblock %}

{% block global %}

<div class='content'>
<h2>Forgot your password?</h2>
  <form id='forgot-password' action='/reset_password' class='authen' method='post'>
     <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

    <p>Fill in your email address below, we'll send you instructions on how to create a new password.</p>
    <ul>
      <li>
        <input type='email' name='email' placeholder="Email" autocomplete="off" autofocus>
        
        <div class='click-target' onclick="document.getElementById('sign-in').submit();"></div>
        <br>
      </li>
    </ul>

     <button type="submit"></button>

 
  </form>

</div>
{% endblock %}

{% block stylesheets %}

<style>
  html {
    background-image: url(/public/images/bg.jpg);
    background-size: 100%;
  }
  
  h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
    font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

  
  form ul {
    margin: 0 0 15px;
    list-style: none;
  }

  form ul li {
    clear: both;
    margin-bottom: 5px;
    position: relative;
    list-style: none;
  }

  form ul li input {
    width: 250px;
    font-size: 15px;
    padding: 7px 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #dedede;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #666;
    resize: none;
    font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

  form ul li input[type='email'] {
    background: #fff url('https://pathakacdn-a.akamaihd.net/web-assets/images/form-submit-disclosure_3443e97f5d4d434af894925c4bb9cf7c36f33ece.png') no-repeat 100% 50%;
    padding-right: 32px;
  }

  .click-target {
    cursor: pointer;
    opacity: .5;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 33px;
    height: 33px;
  }

  p {
    line-height: 1.4;
    margin-bottom: 1em;
  }

  .content {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 250px;
    margin-left: -125px;
    background: whitesmoke;
    border-radius: 3px;
    border: 1px solid white;
    padding: 20px 30px;
    box-shadow: 0 1px 25px #666;
    color: #333;
  }

  
  a {
    color: #11448B;
    outline-style: none;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:focus {
    outline: 0;
  }

  h2 {
    font-weight: bold;
    text-align: center;
    padding: 0 0 15px;
    text-shadow: 0 -1px 0 white;
  }

</style>
{% endblock %}

