{% extends 'base.html' %}

{% block title %}
Create an Account
{% endblock %}

{% block header %}{% endblock %}

{% block global %}

<div class='content'>
  <h2> {% if network_info %}

  {% if alerts %} <span class='red'>{{ alerts.items()[-1][1] }}</span> {% elif welcome %} <span class='green'> <span class='large'>Congratulations!</span>
    <br>
    Your {{ network_info.name }} network is created successfully. </span> {% else %}

  Welcome to {{ network_info.name }} network

  {% endif %}
  {% else %}

  Join Jupo today!

  {% endif %} </h2>
  <div class='social-login'>
    <a href='http://{{ PRIMARY_DOMAIN }}/oauth/facebook?domain={{ domain }}' class='facebook-button'> <i class='fb-icon'></i> <span> Sign up with Facebook </span> </a>
    <a href='http://{{ PRIMARY_DOMAIN }}/oauth/google?domain={{ domain }}' class='google-button'> <i class='google-plus-icon'></i> <span>Sign up with Google</span> </a>

    <p>

      {% if welcome %}
      Now, just create an account and start using it :)
      {% else %}
      It's fast and easy. We promise never to post anything without your permission.
      {% endif %}
    </p>
  </div>

  <div class='or'>
    <span>or</span>
  </div>
  <form id='sign-up' action='/sign_up' class='authen' method='post'>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

    <ul>
      <li>
        <input type='text' name='name' placeholder="Your Full Name" autocomplete="off" autofocus {% if name %}value='{{ name }}'{% endif %}>
        <br>
      </li>
      <li>
        <input type='email' name='email' placeholder="Email" autocomplete="off"  {% if alerts and "email" in alerts.keys() %}title="{{ alerts['email'] }}" class='red' autofocus{% endif %}  {% if email %}value='{{ email }}'{% endif %}>
        <br>
      </li>
      <li>
        <input type='password' name='password' placeholder="Password" autocomplete="off" {% if alerts and "password" in alerts.keys() %}title="{{ alerts['password'] }}" class='red' autofocus{% endif %}  {% if password %}value='{{ password }}'{% endif %}>
        <div class='click-target' onclick="document.getElementById('sign-up').submit();"></div>
      </li>
    </ul>

    <p class='pwd'>
      <input type="checkbox" checked id='news-about-product-updates'>
      <label for='news-about-product-updates'>News about product updates</label>
    <p>
      By signing up, I agree to the <a href="/help/terms">Terms and Conditions</a>.
    </p>
    </p>

    <button type="submit"></button>

    <p>
      <strong>Already a member?</strong> <a href='/sign_in'><strong>Log in now</strong></a>
    </p>

  </form>

</div>

{% if alerts %}
<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>

<script>$('div.content').addClass('animate shake');</script>
{% endif %}

{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/public/styles/animations.css">
<style>
  html {
    background: #111;
    font: 13px "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    color: #423e3e;
  }
  h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
  }

  h1 {
    font-size: 116%;
    font-weight: bold;
    margin-bottom: 8px;
  }

  p.pwd {
    margin-top: -5px;
  }

  form {
    float: right;
    width: 250px;
    border-left: 1px solid #e2e2e2;
    padding-left: 30px;
    margin-top: 15px;
    padding-top: 5px;
    margin-bottom: 5px;
  }

  form ul {
    margin: 0 0 15px;
    list-style: none;
  }

  form ul li {
    clear: both;
    margin-bottom: 5px;
    position: relative;
    list-style: none;
  }

  form ul li label {
    color: #9e9e9e;
    clear: both;
    display: block;
    font-size: 85%;
    float: none;
    margin: 0 0 7px 0;
    width: auto;
  }

  form ul li label a {
    color: #11448B;
    float: right;
    text-decoration: none;
    font-size: 85%;
  }

  form ul li input.red {
    border: 1px solid #b94a48;
  }

  form ul li input {
    width: 250px;
    font-size: 15px;
    padding: 7px 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #dedede;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    resize: none;
    font: 13px Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
  }

  form ul li input[type='password'] {
    padding-right: 32px;
  }

  form input:focus {
    box-shadow: rgba(81, 167, 232, 1) 0 0 5px;
    border-color: #51A7E8;
    outline: none;
  }


  .click-target {
    cursor: pointer;
    opacity: .5;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 33px;
    
    background: #fff url('https://pathakacdn-a.akamaihd.net/web-assets/images/form-submit-disclosure_3443e97f5d4d434af894925c4bb9cf7c36f33ece.png') no-repeat 100% 50%;
    margin-right: 1px;
    height: 27px;
    top: 3px;
    opacity: 0.8;
  }
  
  .click-target:hover {
    opacity: 1;
  }
  
  .click-target:active {
    opacity: 0.5;
  }


  p {
    line-height: 1.4;
    margin-bottom: 1em;
  }

  .green {
    color: green;
  }

  .large {
    font-size: 36px;
  }

  .content {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 550px;
    margin-left: -250px;
    background: whitesmoke;
    border-radius: 3px;
    border: 1px solid white;
    padding: 25px 30px 20px;
    color: #333;
    background: #f1f1f1;
    background: -moz-linear-gradient(top,#f1f1f1,#e3e3e4);
    background: -webkit-linear-gradient(top,#f1f1f1,#e3e3e4);
    background: linear-gradient(top,#f1f1f1,#e3e3e4);
    -webkit-box-shadow: inset 0 1px 0 white;
    box-shadow: inset 0 1px 0 white, 0 1px 18px rgba(0,0,0,0.6);
    border-radius: 4px;
  }

  .social-login {
    padding: 45px 0;
    float: left;
    width: 250px;
  }

  .or {
    left: 50%;
    position: absolute;
    margin-left: -12px;
    top: 50%;
    margin-top: -5px;
  }

  .or span {
    color: #9e9e9e;
    font-size: 85%;
    display: inline-block;
    background: rgb(235, 235, 235);
    padding: 5px 0;
  }

  .forgot {
    float: right;
  }

  .google-button {
    color: #dd4b39;
  }

  .facebook-button {
    color: #3d7199;
  }

  .google-button, .facebook-button {
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    display: table;
    height: 37px;
    line-height: 1.2em;
    margin-bottom: 12px;
    overflow: hidden;
    padding: 0 10px 0 45px;
    position: relative;
    width: 185px;
  }

  .google-button span, .facebook-button span {
    display: table-cell;
    vertical-align: middle;
    height: 37px;
  }

  .facebook-button i.fb-icon {

    background: url('/public/images/fb.png');
    background-position: 50% 50%;
    background-color: #3d7199;
  }

  .google-button i.google-plus-icon {

    background: url('/public/images/g+.png');
    background-position: 60% 50%;
    background-color: #dd4b39;
  }
  .google-button i.google-plus-icon, .facebook-button i.fb-icon {
    background-repeat: no-repeat;
    height: 37px;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 37px;
    border-radius: 20px;
  }

  a.facebook-button, a.google-button {
    display: block;
    position: relative;
    border-radius: 20px;
  }

  a {
    color: #11448B;
    outline-style: none;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:focus {
    outline: 0;
  }

  h2 {
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 0 white;
    font-size: 14px;
    border-radius: 4px 4px 0 0;
    background: #f6f6f6;
    background: -moz-linear-gradient(top,#f6f6f6,#e2e2e2);
    background: -webkit-linear-gradient(top,#f6f6f6,#e2e2e2);
    background: linear-gradient(top,#f6f6f6,#e2e2e2);
    border-bottom: 1px solid #aaa;
    margin: -25px -31px 0;
    padding: 14px;
  }

  h2 span.red {
    color: #b94a48;
  }

</style>
{% endblock %}

