<div id="page-header">
  <div class='title'>
    <i class='important'></i> <span>Welcome to Jupo</span>
  </div>
  <div class='subtitle'></div>
</div>

<div id="getting-started">
  <div class="content">
    <p>
      We're revolutionizing the way that people think about
      collaboration and communication in their team, and we're looking
      for great people to <a href='#!/note/18286ed8-cafb-4e16-9cfc-fa8a2931e8fa' class='overlay'>join us</a>.
    </p>
    <h2>Features:</h2>


    <h3>Real-time Update</h3>

    <ul>
      <li>Stay up-to-date, react in seconds instead of hours.</li>
      <li>Saves you time and helps your team get answers right away
      </li>
      <li>Track your receipts has read the post that you sent</li>
      <li>Keep all your alerts in one convenient location</li>
      <li>Desktop notifications <sup class="footnote-ref"
        id="fnref-desktop-notifications"><a
          href="#fn-desktop-notifications">1</a>
      </sup></li>
    </ul>

    <h3>Search and find things instantly</h3>

    <ul>
      <li>Predicting your search and showing results before you
        finish typing</li>
    </ul>

    <h3>Write, share, revise, compare.</h3>

    <ul>
      <li>Write without fear of losing or overwriting a good idea.
      </li>
      <li>Save every edit, rollback to any version, and easily
        compare changes.</li>
    </ul>

    <h3>Easy File Sharing</h3>

    <ul>
      <li>Upload mockups, images, presentations or other documents
        and share them with others instantly.</li>
      <li>Search files easily. Never miss the latest uploads.</li>
    </ul>

    <h3>Stay focused and Remember everything</h3>

    <ul>
      <li>Create tasks to keep track of what needs to get done.</li>
      <li>Letting members focus on what's next, without losing
        sight of the big picture.</li>
    </ul>

    <h3>Organise Efficiently</h3>

    <ul>
      <li>Plan meetings and projects easily.</li>
    </ul>

    <h3>Keep things centralized</h3>

    <ul>
      <li>Share information with your team.</li>
      <li>Keep your documents, discussions, tasks, and schedules in
        one place all the time.</li>
    </ul>

    <h3>Safe and secure</h3>

    <ul>
      <li>Multiple layers of protection keep your data safe and
        secure.</li>
    </ul>

    <div class="footnotes">
      <hr>
      <ol>
        <li id="fn-desktop-notifications">
          <p>
            For now, these notifications are available only if you use
            Google Chrome as your browser. Desktop notifications won't
            appear if you don't have Jupo open on any Google Chrome
            browser pages, or are signed out of Jupo&nbsp;<a
              href="#fnref-desktop-notifications"
              class="footnoteBackLink"
              title="Jump back to footnote 1 in the text.">↩</a>
          </p></li>
      </ol>
    </div>





  </div>


</div>