{% if request.method == 'OPTIONS' %}
  {% if feeds != None or group.id == 'public' %}
    {% if feeds == [] %}
    
      <span class="empty">
        <span>Nothing here</span>
      </span>
      
    {% else %}
    
      {% for feed in feeds %}
      
        {% if feed.id not in owner.unfollow_posts %}
        
            {{ feed | render("feed", owner, view, group=group, mobile=True) | safe }}
            
        {% endif %}
        
      {% endfor %}
      
    {% endif %}
    
      
    {% if feeds | length == 5 %}
    
      {% if group.id == 'public' %}
      
        {% set more_url = '/everyone/page2' %}
        
      {% else %}
      
        {% set more_url = '/group/%s/page2' % group.id %}
        
      {% endif %}
      
      {% include 'more.html' %}
      
    {% endif %}
    
  {% else %}    
  
      <div class='title'>Members:</div>
      
      {% for user in group.members %}
      
        <li>
          <a href='/user/{{ user.id }}' class='async'>
              <img class='small-avatar lfloat' src='{{ user.avatar }}' />
              <div class='title'>
                {{ user.name }} <i class='{{ user.status }} user-{{ user.id }}-status'></i>
              </div>
              
              {% set last_online = user.last_online %}
              
              {% if last_online %}
              
               <time class='timeago' title='{{ last_online | friendly_format(owner.utcoffset) }}' datetime='{{ last_online | isoformat(owner.utcoffset) }}'>{{ last_online | friendly_format(owner.utcoffset, short=True) }}</time>
              
              {% else %}
              
                &nbsp;
                
              {% endif %}
              
            </a>
        </li>
      {% endfor %}
  {% endif %}
{% else %}

<!DOCTYPE HTML>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="/public/styles/mobile.css">
</head>

<body>
  <div class='overview'>
    <h3>{{ group.name }}</h3>
    <div class='info'>
        {{ group.member_ids | length }} Members
    </div>
  </div>
  
  {% if feeds != None or group.id == 'public' %}
  
    <ul class="stream">
    {% if feeds == [] %}
    
      <span class="empty">
        
        <span>Nothing here</span>
        
      </span>
      
    {% else %}
    
      {% for feed in feeds %}
      
        {% if feed.id not in owner.unfollow_posts %}
        
            {{ feed | render("feed", owner, view, group=group, mobile=True) | safe }}
            
        {% endif %}
        
      {% endfor %}
      
    {% endif %}
      
      {% if feeds | length == 5 %}
      
        {% if group.id == 'public' %}
        
          {% set more_url = '/everyone/page2' %}
          
        {% else %}
        
          {% set more_url = '/group/%s/page2' % group.id %}
          
        {% endif %}
        
        {% include 'more.html' %}
        
      {% endif %}
    
    </ul>
    
  {% else %}    
  

    <ul class='contacts'>
      
      <div class='title'>Members:</div>
      
      {% for user in group.members %}
      
        <li>
          <a href='/user/{{ user.id }}' class='async'>
              <img class='small-avatar lfloat' src='{{ user.avatar }}' />
              <div class='title'>
                {{ user.name }} <i class='{{ user.status }} user-{{ user.id }}-status'></i>
              </div>
              
              {% set last_online = user.last_online %}
              
              {% if last_online %}
              
               <time class='timeago' title='{{ last_online | friendly_format(owner.utcoffset) }}' datetime='{{ last_online | isoformat(owner.utcoffset) }}'>{{ last_online | friendly_format(owner.utcoffset, short=True) }}</time>
              
              {% else %}
              
                &nbsp;
                
              {% endif %}
              
            </a>
        </li>
        
      {% endfor %}
    </ul>
    
  {% endif %}

  
  <script src='/public/scripts/zepto.min.js'></script>
  <script src='/public/scripts/touch.js'></script>
  <script src='/public/scripts/mobile.js'></script>
</body>
{% endif %}
