<!DOCTYPE HTML>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  
  <link rel="stylesheet" href="/public/styles/mobile.css?v2">
</head>

<body>
  
  {% if not mode %}
  <div class='info'>
    You are on <strong>{{ current_network }}</strong>
  </div>
  {% endif %}
  
  <ul class="stream">
      {% if not feeds %}
      
        <span class="empty">Nothing here</span>
        
      {% else %}
  
        
      {% autoescape on %} 
      
          {{ feeds | render("feed", owner, view, mode, mobile=True) }}
          
      {% endautoescape %}
        
    
      {% if feeds | length == 5 %}
      
        {% set more_url = '/news_feed/page2' %}

        {% include 'more.html' %}
        
      {% endif %}
      
    {% endif %}
  </ul>
  
  <div class='loading'>
    <img src='/public/images/mobile/spinner.gif'>
  </div>
  
  <script src='/public/scripts/zepto.min.js'></script>
  <script src='/public/scripts/touch.js'></script>
  <script src='/public/scripts/mobile.js'></script>
  
</body>
  
  
