<html>
  <body>
    <div style="background-color: #f5f5f5 ;min-height: 400px;width: 800px;border: solid 1px #ffffff;margin-right: auto;margin-left: auto;">
      <table style="background-color: #ffffff;min-height: 255px;width: 600px;margin-top: 40px;margin-left: auto;margin-right: auto;border: solid 1px #dddddd;">
        <tr>
          <td style="width: 150px; min-height: 255px;">
          <div style="width: 100%;min-height: 80px">
            <div style="text-align: center; padding-top: 25px;font-size: 18px; color: #cc6666;font-family: Lucida grande;">
              {{ domain.split('/')[1].split('.')[0] }}
            </div>
          </div>
          <div style="width: 100%;min-height: 95px;">
            <div>
              <img style="display: block;margin: 0 auto 0 auto;border-radius: 50px;" src="{{ avatar }}" />
            </div>
          </div>
          <div style="width: 100%;min-height: 80px">
            <div style="text-align: center;word-break: break-word;color: #333333;font-weight: bold;padding-top: 5px;font-size: 13px;font-family: Lucida grande; ">
              {{ username.split('@')[0] }}
            </div>
          </div></td>
          <td style="width: 450px; min-height: 255px;">
          <div style="width: 400px; min-height: 155px;">
            <div style="padding-top: 60px;line-height: 25px;font-size: 13px;color: #444";>
              <span style="font-family: Lucida grande"> I 've add you to Jupo.</span>
              <br />
              <span style="font-family: Lucida grande">So we can easily collaborate and share infomation across the team.</span>
              <br />
              <span style="font-family: Lucida grande">We need your input and ideas. Join us on the {{ domain.split('/')[1].split('.')[0] }} network.</span>
            </div>
          </div>
          <div style="width: 400px; min-height: 100px;">
            <div style="width: 175px;background-color: #cccccc; border-radius: 2px;min-height: 50px;text-align: center">
              <div style="padding-top: 15px; font-size: 13px;">
                {% if not group %}
                <a style="color: #333333;text-decoration: none;font-weight: bold;font-family: Lucida grande;" href="http://{{ domain }}/?code={{ code }}">Accept Invitation</a>
                {% else %}
                {% if is_new_user %}
                <a style="color: #333333;text-decoration: none;font-weight: bold;font-family: Lucida grande;" href="http://{{ domain }}/?code={{ code }}">Accept Invitation</a>
                {% else %}
                <a style="color: #333333;text-decoration: none;font-weight: bold;font-family: Lucida grande;" href="http://{{ domain }}/group/{{ group_id }}">Accept Invitation</a>
                {% endif %}
                {% endif %}

              </div>
            </div>
          </div></td>
        </tr>
      </table>
      <div>
        <div style="color: #333333;font-size: 12px;">
          <p style="margin: 15px 0 0 400px;float: left;font-family: Lucida grande;">
            Jupo. Contact us at <span style="text-decoration: underline;color: #996666;">info@jupo.com</span>
          </p>
          <img style="min-height: 20px;width: 50px;float: right;margin: 8px 110px 0 0;" src="http://{{ domain }}/public/images/jupo.png" />
        </div>
      </div>
    </div>
  </body>
</html>