

<table style="border:none;">
  <tbody>
  <tr>
    <td>
      <div style="font-size:12px;line-height:20px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color: #222;margin-bottom: 5px">

        
        <p>
          <img src='{{ user.avatar }}' style='width: 16px; vertical-align: text-bottom; margin-right: 3px;'>
          <a href='http://{{ domain }}/user/{{ user.id }}' style="text-decoration: none; color: #348">{{ user.name }}</a> wrote: 
            "{{ post.message | autolink | replace('/user/', 'http://{{ domain }}/user/') | replace('<a href=', '<a style="text-decoration: none; color: #348" href=') | autoemoticon | replace("class='emoticon'", "style='vertical-align: middle;'") | nl2br | safe }}"
    
        </p>
        
        
        <p>Reply directly to this email to comment on this post.</p>
        
        <p>
          <a href="http://{{ domain }}/feed/{{ post.id }}" style="text-decoration: none; color: #348">See post</a>
        </p>

      </div>
    </td>
  </tr>

  <tr>
    <td style="padding:7px 0 0;border-top:1px solid #eaeaea">
      <div style="font-size:11px;color:#999;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; line-height: 14px;">


        <p style="margin: 3px 0">
          This email was sent by <a href="http://{{ domain }}/" style="text-decoration: none;color: #999">Jupo</a>. <a href="http://{{ domain }}/" style="text-decoration: none;color: #999">Jupo</a> keeps your discussions, notes, files and team together.
        </p>



      </div>
    </td>
  </tr>
  </tbody>
</table>