

<table style="border:none;padding:5px">
  <tbody>
    <tr>
      <td style="padding:10px 0 20px 10px">
        <div style="font-size:12px;line-height:20px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color: #222">

   
       
<p>We received a request to reset the password for your Jupo account (<a style="text-decoration: none;color: #348">{{ email }}</a>)</p>

<p>To reset your password, click on the link below:</p>
  <span class="url" style="margin-left: 25px">
    <a href="http://www.jupo.com/reset_password?code={{ temp_password }}" style="text-decoration: none;color: #348">http://www.jupo.com/reset_password?code={{ temp_password }}</a>
  </span>

<p>
   That will take you to a web page where you can create a new password.
   Please note that the link will expire one hours after this email was sent.
</p>

<p>
  If you weren't trying to reset your password, 
  don't worry - your account is still secure and no one has been given access to it. 
  Most likely, someone just mistyped their email address while trying to reset their own password.
</p>    
       
        </div>
      </td>
    </tr>
    
    <tr>
      <td style="padding:7px 0 0 10px;border-top:1px solid #eaeaea">
        <div style="font-size:10px;color:#999;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; line-height: 14px;">

          
<p style="margin: 3px 0">
  This email was sent by <a href="http://www.jupo.com/" style="text-decoration: none;color: #999">Jupo</a>. <a href="http://www.jupo.com/" style="text-decoration: none;color: #999">Jupo</a> keeps your discussions, notes, files, tasks and team together.
</p> 
<p style="margin: 3px 0">
  If you have any questions or suggestions for us, please don't hesitate to <a href="mailto:hi@jupo.comm" style="text-decoration: none;color: #999">reply</a> directly to this mail, we'd love to hear about it.
</p>




        </div>
      </td>
    </tr>
  </tbody>
</table>