


<table style="border:none;">
  <tbody>
  <tr>
    <td>
      <div style="font-size:12px;line-height:20px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color: #222;margin-bottom: 5px">

        
<p>Hi,</p>
       
<p>We were told that you forgot your password on Jupo.</p>

<p>To reset your password, please click this link:</p>
  <span class="url" style="margin-left: 25px">
    <a href="http://{{ domain }}/reset_password?code={{ temp_password }}" style="text-decoration: none;color: #348">http://{{ domain }}/reset_password?code={{ temp_password }}</a>
  </span>

<p>
   Thanks.
</p>

<p>
  P.S. If you didn't request this email, you may safely ignore it.
</p>  

        
      </div>
    </td>
  </tr>

  <tr>
    <td style="padding:7px 0 0;border-top:1px solid #eaeaea">
      <div style="font-size:11px;color:#999;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; line-height: 14px;">


        <p style="margin: 3px 0">
          This email was sent by <a href="http://{{ domain }}/" style="text-decoration: none;color: #999">Jupo</a>. <a href="http://{{ domain }}/" style="text-decoration: none;color: #999">Jupo</a> keeps your discussions, notes, files and team together.
        </p>



      </div>
    </td>
  </tr>
  </tbody>
</table>

