<p>Hi!</p>

<p>Thanks for joining the Jupo waiting list. 
We'll be sure to send you an invite soon.</p>

<p>In the meantime, you can follow us on 
<a href='https://www.facebook.com/pages/Jupo/251683024869298'>Facebook</a>, 
<a href='https://twitter.com/#!/Jupo'>Twitter</a> 
or check out <a href='http://Jupo.tumblr.com/'>our blog</a>.</p>

<p>Please feel free to respond directly to this email if you have any questions, 
we’d be happy to help!</p>

<p>Look forward to connecting with you again soon!</p>

<p>All the best, <br> 
The Jupo Team</p>